doctype
html
	include partials/head
	body
		// header
		include partials/header
		// header

		.container
			section.content
				// breadcrumbs
				include blocks/breadcrumbs
				// breadcrumbs

				.category
					h1 Фасадная штукатурка

					// filter
					include blocks/filter
					// filter

					// category-list
					include blocks/category-list
					// category-list

					// pagination
					include blocks/pagination
					// pagination

					//seo
					include blocks/seo-hide
					// seo

			aside.sidebar
				// sidebar-advertise
				include blocks/sidebar-advertise
				// sidebar-advertise

				// sidebar-menu
				include blocks/sidebar-menu
				// sidebar-menu

				// calculators
				include blocks/calculators
				// calculators

				// user-questions
				include blocks/user-questions
				// user-questions

				// vk-group
				include blocks/vk-group
				// vk-group

		// footer
		include partials/footer
		// footer