doctype
html
	include partials/head
	body
		// header
		include partials/header
		// header

		.container
			section.content
				// main-categories
				include blocks/main-categories
				// main-categories

				// materials
				include blocks/materials
				// materials

				//seo
				include blocks/seo
				// seo

			aside.sidebar
				// sidebar-advertise
				include blocks/sidebar-advertise
				// sidebar-advertise

				// calculators
				include blocks/calculators
				// calculators

				// user-questions
				include blocks/user-questions
				// user-questions

				// sidebar-advertise
				include blocks/sidebar-advertise
				// sidebar-advertise

				// vk-group
				include blocks/vk-group
				// vk-group