doctype
html
	include partials/head
	body
		// header
		include partials/header
		// header

		.container
			section.content
				// breadcrumbs
				include blocks/breadcrumbs
				// breadcrumbs

				article.single
					h1 Фасадная штукатурка

					// advertise-single
					include blocks/advertise-single
					// advertise-single

					// article-nav
					include blocks/article-nav
					// article-nav

					// article
					include blocks/article
					// article

					// article-meta
					include blocks/article-meta
					// article-meta

					// similar-article
					include blocks/similar-article
					// similar-article

					// comments
					include blocks/comments
					// comments

			aside.sidebar
				// sidebar-advertise
				include blocks/sidebar-advertise
				// sidebar-advertise

				// sidebar-menu
				include blocks/sidebar-menu
				// sidebar-menu

				// calculators
				include blocks/calculators
				// calculators

				// user-questions
				include blocks/user-questions
				// user-questions

				// vk-group
				include blocks/vk-group
				// vk-group

		// footer
		include partials/footer
		// footer