mixin seo-text()
	section.seo-text
		h1 Штукатурка дома своими руками

		p Штукатурка – это отделочный слой, который наносится на отдельные части поверхностей зданий и сооружений. Штукатурка может одновременно выравнивать поверхность и защищать ее от огня и проникновения влаги. Также она может повысить ее звуко- и теплоизоляционные характеристики. 
		p На страницах нашего сайта вы узнаете, что существует несколько разновидностей штукатурки. Так, выполненная различными строительными растворами, которые набрасываются на поверхность с дальнейшей обработкой и уплотнением – это монолитная штукатурка. Как правило, ее используют для внутренней и внешней отделки зданий. Монолитная штукатурка подразделяется на несколько групп. О них вы также узнаете из нашего сайта. Каждому из типов посвящен отдельный раздел, в котором представлена более подробная информация о том или ином ее виде.
		
		h2 Разновидности штукатурки

		p Монолитная штукатурка делится на три группы: обычную, специальную и декоративную. Поверхность обычных штукатурок затирается и заглаживается, а после оклеивается обоями или окрашивается. Для того чтобы придать штукатурке специальные свойства в нее добавляют разнообразные добавки. Декоративная штукатурка создается путем добавления в состав цветных растворов, которые подкрашены пигментами или дробленными горными породами разных цветов.
		p Обычная штукатурка подразделяется на несколько видов:
		
		ul
			li Простая. Ее используют при оштукатуривании помещений второстепенного назначения и подсобных помещений.
			li Улучшенная. Применяется она для отделки жилых, промышленных и коммунальных строений.
			li Высококачественная. Ее основное назначение – это внутренняя отделка общественных зданий: учебных заведений, клубов, музеев и театров, а также жилых объектов, и внешняя отделка фасадов зданий.

		p Фактурная штукатурка – это потрясающая смесь, которая способна воссоздать разнообразные фактуры иных материалов: камня, муаровую ткань, бархатную драпировку и так далее. К одному из типов можно отнести венецианскую штукатурку. Этот удивительный материал не продается в банках, и его нельзя просто намазать на стену или потолок. Венецианская штукатурка – это специальная техника нанесения штукатурки.  Если вы нарушите правильность выполнения действий, то у вас получится уже что-то иное. Это не просто смесь воды, мраморной муки, гашеной извести и так далее – это самое настоящее искусство.
