// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.link {
	text-decoration: underline;

	color: $blue;
	// font-size: em(15px);
	// line-height: em(18px, 15px);
	&:hover {
		text-decoration: none;
	}
}

.paragraph {
	color: #444;

	font-size: em(14px);
	line-height: em(21px, 14px);
}

.title {
	text-transform: uppercase;

	color: $brown;

	font-family: "PTSans-Bold";
	font-size: em(18px);
}

.form {
	display: flex;

	padding: 20px;

	background: #f4f4f4;

	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
	&__input {
		box-sizing: border-box;
		width: 49%;
		padding: 8px 10px;

		border: none;
		box-shadow: inset 0 0 1px #9d9e9e;

		font-size: em(14px);
		&:focus {
			outline: none;
		}
	}
	&__textarea {
		width: 100%;
		height: 96px;
		margin-top: 15px;
		margin-bottom: 15px;

		@extend .form__input;
	}
	&__submit {
		width: 140px;
		height: 35px;

		text-align: center;

		color: #f4f4f4;
		border: 0;
		background: $coral;

		font-size: em(14px);
		&:hover {
			background: $coral - #111;
		}
	}
}

.form-file {
	width: 80%;
	&__btn {
		position: relative;

		width: 140px;
		height: 35px;

		text-align: center;

		color: #f4f4f4;
		background: $brown;

		font-size: em(14px);
		line-height: 35px;
		input {
			position: absolute;
			top: 0;
			left: 0;

			width: 140px;
			height: 35px;

			opacity: 0;
		}
	}
	&__preview {
		.thumb {
			height: 75px;
			margin-top: 10px;

			border: 1px solid #9d9e9e;
		}
	}
}
