mixin calculator-list()
	.calculator-list
		.calculator-list__title Калькуляторы

		a(href="#" title="").calculator-list__item Калькулятор кирпичной кладки
		a(href="#" title="").calculator-list__item Калькулятор раствора
		a(href="#" title="").calculator-list__item Расчет теплопотерь помещения
		a(href="#" title="").calculator-list__item Калькулятор бетона
		a(href="#" title="").calculator-list__item Калькулятор окраски поверхности
		a(href="#" title="").calculator-list__item Калькулятор расхода штукатурной смеси
		a(href="#" title="").calculator-list__item Калькулятор расхода шпатлевки