mixin sidebar(data)
	- if (data == undefined) data = ''
	aside.sidebar(class="#{data}")
		- if (data == '') {
		+questions()
		+last-questions()
		- }
		//- +calculator-list()
		+banner-sidebar()
		+social-widget()
