.sidebar {
	position: relative;
	z-index: 1;

	box-sizing: border-box;
	width: 365px;
	padding: 0 35px;
	@media screen and (max-width: 960px) {
		width: 100%;
		padding: 0 15px;
	}
	@media screen and (min-width: 660px) and (max-width: 960px) {
		display: flex;

		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&.inside {
		@media screen and (max-width: 960px) {
			display: none;
		}
	}
}
