mixin pagination()
	.pagination
		a(href="#" title="").pagination__item.pagination__item--prev Предыдущая
		a(href="#" title="").pagination__item 1
		a(href="#" title="").pagination__item 2
		span.pagination__item.pagination__item--current 3
		a(href="#" title="").pagination__item 4
		a(href="#" title="").pagination__item 5
		a(href="#" title="").pagination__item 6
		a(href="#" title="").pagination__item.pagination__item--next Следующая