mixin top-menu()
	nav.top-menu
		.top-menu__mobile
		.top-menu__fixed
			.top-menu__list
				.top-menu__item.top-menu__item--drop
					a(href="/category.html" title="") Виды штукатурки
					.top-menu__drop
						a(href="/category.html" title="") Декоративная
						a(href="/category.html" title="") Венецианская
						a(href="/category.html" title="") Фактурная
						a(href="/category.html" title="") Гипсовая
						a(href="/category.html" title="") Фасадная
						a(href="/category.html" title="") Другие виды
				.top-menu__item
					a(href="/category.html" title="") Подготовка к работе
				.top-menu__item
					a(href="/category.html" title="") Выбор инструментов
				.top-menu__item
					a(href="/category.html" title="") Штукатурка стен
				.top-menu__item
					a(href="/category.html" title="") Отделка и украшение
				.top-menu__item
					a(href="/category.html" title="") Ремонт штукатурки
				.top-menu__item
					a(href="/category.html" title="") Технические параметры