mixin top-menu()
	nav.top-menu
		.top-menu__mobile
		.top-menu__list
			.top-menu__item.top-menu__item--drop
				a(href="#" title="") Виды штукатурки
				.top-menu__drop
					a(href="#" title="") Декоративная
					a(href="#" title="") Венецианская
					a(href="#" title="") Фактурная
					a(href="#" title="") Гипсовая
					a(href="#" title="") Фасадная
					a(href="#" title="") Другие виды
			.top-menu__item
				a(href="#" title="") Подготовка к работе
			.top-menu__item
				a(href="#" title="") Выбор инструментов
			.top-menu__item
				a(href="#" title="") Штукатурка стен
			.top-menu__item
				a(href="#" title="") Отделка и украшение
			.top-menu__item
				a(href="#" title="") Ремонт штукатурки
			.top-menu__item
				a(href="#" title="") Технические параметры