mixin question-content()
	.question-content
		+breadcrumbs('page')

		h1 Можно ли для утепления наружных стен кирпичного дома использовать минеральную вату

		.question-content-specialist
			.specialist-list-item
				.specialist-list-item__title На вопрос отвечает:
				img(src="%=staticPrefix=%images/content/specialist-1.jpg" alt="").specialist-list-item__img
				.specialist-list-item__name Владимир Иванович
				.specialist-list-item__pro Мастер по работе со штукатуркой более 20 лет

		p Не только можно, но и нужно. И вот почему: 
		p Одной из важных характеристик строительных материалов в целом и стеновых в частности является паропроницаемость. Не углубляясь в теорию — это способность материала пропускать через себя водяной пар. Характеристика паропроницаемости: коэффициент, измеряемый в мг/(м·ч·Па). Наибольшей паропроницаемостью обладают стеновые материалы с открытыми порами: древесина (сосна вдоль волокон — 0,32 мг/(м·ч·Па), лёгкий керамзитобетон (плотностью 500 кг/м3 — 0,30 мг/(м·ч·Па) и пенобетон (плотностью 400 кг/м3 – 0,28 мг/(м·ч·Па). Про стены дома, возведенные из материала, обладающего высокой паропроницаемостью, говорят, что они «дышат». Излишняя влага отводится изнутри через стены на улицу, в таком доме оптимальный микроклимат и нормальная влажность. На другом полюсе — материалы с низкой паропропускаемостью. Почти не «дышит» бетон (0,03). Микроклимат в панельках, мягко говоря, неважный, сырость и грибок на стенах — одна из нередких проблем. Что касается кирпича: он обладает не самой высокой, но вполне приличной паропроницаемостью: пустотелый керамический — 0,17, полнотелый красный и силикатный — 0,11.
		p Если снаружи стену, возведенную из паропроницамого материала, утеплить или облицевать материалом, который станет препятствовать выводу влаги из стены, это приведёт к повышению влажности несущих стен. Как результат — в лучшем случае ухудшение микроклимата, сырость в доме и некоторое снижение теплосберегающих свойств стенового материала.

		figure
				img(src="%=staticPrefix=%images/content/antikdecorbrown-400x300.jpg" alt="Картинка есть же")
				figcaption Штукатурке подвластны даже 3D эффекты

			p Выбор штукатурных смесей в качестве отделочного материала аргументирован превосходством их эксплуатационных, технических и эстетических качеств, точнее высотой совокупности всего набора показателей.

			p В списке приоритетов нанесения штукатурки значатся: 

				ul
					li водоотталкивающие качества материала, способность высыхать после аварийного намокания без потери декоративных показателей; 
					li оптимизация изоляционных характеристик строения; 
					li аэропроницаемость, то есть способность пропускать излишки бытовых испарений, предотвращая преждевременной старение и износ стройматериалов, за счет чего также устанавливается благоприятный для проживания влажностной баланс в помещениях; 
					li соответствие санитарно-гигиеническим и экологическим нормативам; 
					li возможность изменить впоследствии фактурную и колоритную концепцию отделки; 
					li негорючесть, на основании которой штукатурку предпочитают для облицовки фасадов и выполнения интерьерной отделки деревянных построек; 
					li доступная стоимость ремонта, особенно ощутимая, если выполняется штукатурка стен своими руками и применяются наиболее демократичные в ценовом отношении составы.

			| <iframe width="560" height="315" src="https://www.youtube.com/embed/gaNcLQEGL0Y" frameborder="0" allowfullscreen></iframe>

			p Несмотря на убедительный список аргументов в пользу нанесения штукатурки на стены, у данного материала есть ряд существенных недостатков. 

		+social()

		+comments()
			