mixin about-content()
	.about-content
		+breadcrumbs('page')
		h1 О проекте

		p Каждый день мы сталкиваемся с ситуациями, когда нужен компетентный совет. Но не всегда рядом оказывается специалист, способный помочь. А интернет близко. Однако и здесь не так-то просто найти нужную информацию – сайтов множество, и нет гарантии, что исчерпывающий ответ на вопрос или ценный совет найдется быстро. 
		p Мы предлагаем свое решение проблемы – сайт с полезными советами для любой жизненной ситуации. Собираетесь вы купить квартиру или отправиться в путешествие, строите баньку или хотите выгодно взять кредит, разводите домашних питомцев или выращиваете цветы, хотите наладить отношения с детьми или признаться в любви девушке. Кем бы вы ни были: владельцем авто или любителем ремонтов, домохозяйкой или бизнес-леди, многодетной или начинающей мамочкой – вы всегда найдете здесь полезный совет для себя. Каждый день у нас появляются новые статьи и обзоры. 
		p Здесь вы не найдете пространных рассуждений на тему, мы делимся только ценной, практически применимой информацией с качественными фотографиями, четкими видео-инструкциями и мастер-классами. Вы не нашли на сайте ответ на свой вопрос? Станьте участником нашей группы вконтакте и задайте там вопросы. Наши эксперты подготовят исчерпывающее руководство с полезными советами по вашей теме. Внесите наш сайт в закладки, и вам не придется больше тратить драгоценное время на поиски нужного совета. Мы будем рядом в любой ситуации.