.breadcrumbs {
	margin-bottom: 15px;
	&__item {
		position: relative;

		padding-right: 23px;

		text-decoration: underline;

		color: #73595c;

		font-size: 13px;
		font-style: italic;
		&:hover {
			text-decoration: none;
		}
		&:after {
			position: absolute;
			top: 7px;
			right: 7px;

			content: "";

			@include sprite($s-breadcrumbs-arrow);
		}
		&--home {
			padding-left: 15px;
			&:before {
				top: 3px;

				@include sprite($s-breadcrumbs-home);
				@include content;
			}
		}
		&--current {
			text-decoration: none;
			&:after {
				display: none;
			}
		}
	}
}
