.comments {
	margin-top: 30px;
	&__title {
		@extend .title;
		position: relative;
		padding-left: 21px;
		margin-bottom: 15px;
		&:before {
			@include content;
			@include sprite($s-comments-big);
		}
	}
}