.filter {
	margin-top: 15px;
	margin-bottom: 20px;
	&__title {
		color: #6d5257;
		font-size: 14px;
		padding-right: 10px;
	}
	&__item {
		padding-right: 15px;
		position: relative;
		&--asc, &--desc {
			color: #1f1e1e;
			font-weight: 700;
			text-decoration: none;
			&:after {
				content: "";
				position: absolute;
				right: 5px;
				top: 8px;
			}
		}
		&--asc {
			&:after {
				@include sprite($s-asc);
				
			}
		}
		&--desc {
			&:after {
				@include sprite($s-desc);
			}
		}
	}
}