.main-categories {
	@include flex-wrap(wrap);
	@include display-flex(flex);
	@include flex-direction(row);
	@include justify-content(space-between);
	@include align-items(flex-start);
	.main-categories-block {
		width: 210px;
		margin-bottom: 24px;
		&--row {
			width: 700px;
		}
		&__title {
			position: relative;

			display: block;

			margin-bottom: 3px;
			padding-left: 15px;

			text-decoration: underline;

			font-size: 14px;
			line-height: 20px;

			@extend .title;
			&:before {
				@include content;
				content: "\2192"!important;
			}
			&:hover {
				text-decoration: none;

				color: #ee6b5b;
			}
			&--nolink {
				padding-left: 0;

				text-decoration: none;
				&:hover {
					color: $df-brown-light-color;
				}
				&:before {
					content: "";
				}
			}
		}
		&__item {
			position: relative;

			display: inline-block;

			margin-right: 24px;
			margin-bottom: 3px;
			padding-left: 15px;

			font-size: 14px;
			line-height: 17px;
			&:before {
				top: 3px;

				@include sprite($s-pagelink);
				@include content;
			}
		}
	}
}
