.materials {
	@include flex-wrap(wrap);
	@include display-flex(flex);
	@include flex-direction(row);
	@include justify-content(space-between);
	@include align-items(flex-start);
}

.materials-block {
	width: 350px;
	padding: 17px;
	padding-bottom: 0;

	background: #f3eee8;

	@include border-radius($df-border-radius);
	@include box-sizing;
	&__title {
		position: relative;

		margin-bottom: 20px;
		padding-left: 19px;

		@extend .title;
		&:before {
			left: 0;

			@include content;
		}
		a {
			position: absolute;
			top: -1px;
			right: 0;

			text-transform: none;

			color: $df-brown-light-color;

			font-family: "PT Sans", Arial, sans-serif;
			font-size: 12px;
			font-style: italic;
		}
		&--last-articles {
			&:before {
				@include sprite($s-last-articles);
			}
		}
		&--popular-articles {
			&:before {
				@include sprite($s-popular-articles);
			}
		}
	}
	&__item {
		margin-bottom: 13px;
		padding-bottom: 13px;

		border-bottom: 1px solid #e7e2dc;
		img {
			display: inline-block;

			vertical-align: top;

			@include border-radius($df-border-radius);
		}
		.materials-block-inside {
			display: inline-block;

			width: 245px;
			margin-left: 15px;
			.materials-block-meta {
				position: relative;

				display: inline-block;

				margin-top: 10px;
				margin-right: 20px;
				padding-left: 17px;

				color: $df-brown-light-color;

				font-size: 12px;
				&:before {
					@include content;
				}
				&--category {
					&:before {
						top: 4px;

						@include sprite($s-category-icon);
					}
				}
				&--views {
					&:before {
						top: 2px;

						@include sprite($s-views);
					}
				}
			}
		}
	}
}
