.sidebar-menu {
	margin-top: 15px;
	margin-left: 10px;
	&__item {
		position: relative;

		display: block;

		margin-bottom: 3px;
		padding-left: 15px!important;

		text-decoration: underline;

		font-size: 14px;
		line-height: 20px;

		@extend .title;
		&:before {
			top: 4px;

			@include sprite($s-pagelink);
			@include content;
		}
		&:hover,
		&.active {
			text-decoration: none;

			color: #ee6b5b;
			&:before {
				@include sprite($s-pagelink-pink);
			}
		}
	}
}
