.footer {
	background: #71575a url(../images/footer-bg.jpg) repeat-x;
	margin-top: 40px;
	&__wrapper {
		width: $df-width-wrapper;
		height: 90px;
		margin: auto;
		padding-top: 10px;

		@include align-items(center);
		@include justify-content(space-between);
		@include flex-direction(row);
		@include display-flex(flex);
	}

	.copyright {
		color: #a79b9d;
		font-size: 11px;
		line-height: 17px;
		position: relative;
		padding-left: 40px;
		&:before {
			@include content;
			@include sprite($s-logo-footer);
			left: 10px;
		}
	}

	.footer-menu {
		width: 430px;
		@include align-items(center);
		@include justify-content(space-between);
		@include flex-wrap(wrap);
		@include flex-direction(row);
		@include display-flex(flex);
		&__item {
			display: block;
			width: 110px;
			margin-bottom: 5px;
			color: #e6e6e6;
			font-size: 13px;
			font-style: italic;
			position: relative;
			padding-left: 20px;
			&:before {
				@include content;
				content: "\2192";
				left: 0;
			}
			&--gp {
				&:before {
					content: "";
					@include sprite($s-footer-gp);
					top: 4px;
				}
			}
			&--sitemap {
				&:before {
					content: "";
					@include sprite($s-sitemap);
					top: 4px;
				}
			}
		}
	}

	.counters {
		width: 170px;
		text-align: center;
		@include opacity(0.5);
	}
}