mixin sitemap-content()
	.sitemap-content
		+breadcrumbs('page')
		h1 Карта сайта

		ul.sitemap-content-list
			li.sitemap-content-list__item
				a(href="#" title="") Виды штукатурки
				ul.sitemap-content-list.sitemap-content-list--inside
					li.sitemap-content-list__item
						a(href="#" title="") Венецианская
						ul.sitemap-content-list.sitemap-content-list--inside
							li.sitemap-content-list__item
								a(href="#" title="") Как правильно наносить венецианскую штукатурку?
							li.sitemap-content-list__item
								a(href="#" title="") Cоветы по выбору вида электрического пола 
							li.sitemap-content-list__item
								a(href="#" title="") Виды дюбелей для крепления светильников и люстр 
							li.sitemap-content-list__item
								a(href="#" title="") Выбор средства для очистки вытяжки 
							li.sitemap-content-list__item
								a(href="#" title="") Вынос радиатора отопления на балкон 
							li.sitemap-content-list__item
								a(href="#" title="") Доработка троса для прочистки канализации 
							li.sitemap-content-list__item
								a(href="#" title="") Заделка шва между ванной и стеной силиконовым герметиком 
							li.sitemap-content-list__item
								a(href="#" title="") Замена канализационного стояка в квартире 
							li.sitemap-content-list__item
								a(href="#" title="") Изготовление и монтаж перегородки из гипсокартона 
							li.sitemap-content-list__item
								a(href="#" title="") Инструкция по монтажу душевой кабины 
							li.sitemap-content-list__item
								a(href="#" title="") Крепление наличника на межкомнатную дверь без следов от гвоздей
					li.sitemap-content-list__item
						a(href="#" title="") Декоративная
						ul.sitemap-content-list.sitemap-content-list--inside
							li.sitemap-content-list__item
								a(href="#" title="") Как правильно наносить декоративную штукатурку?
							li.sitemap-content-list__item 
								a(href="#" title="") Врезка замка и дверной ручки в межкомнатную дверь 
							li.sitemap-content-list__item 
								a(href="#" title="") Врезка простого замка в межкомнатную дверь 
							li.sitemap-content-list__item 
								a(href="#" title="") Демонтаж дверной коробки 
							li.sitemap-content-list__item 
								a(href="#" title="") Демонтаж оконного блока 
							li.sitemap-content-list__item 
								a(href="#" title="") Демонтаж подоконника 
							li.sitemap-content-list__item 
								a(href="#" title="") Заделка стыков при помощи серпянки 
							li.sitemap-content-list__item 
								a(href="#" title="") Замена стеклопакета в пластиковом окне 
							li.sitemap-content-list__item 
								a(href="#" title="") Инструкция по монтажу 
							li.sitemap-content-list__item 
								a(href="#" title="") ПВХ рамы для раздвижной системы
					li.sitemap-content-list__item
						a(href="#" title="") Фактурная
						ul.sitemap-content-list.sitemap-content-list--inside
							li.sitemap-content-list__item 
								a(href="#" title="") Как правильно наносить фактурную штукатурку?
							li.sitemap-content-list__item 
								a(href="#" title="") Cоветы по выбору вида электрического пола 
							li.sitemap-content-list__item 
								a(href="#" title="") Видео-инструкция по укладке ламината 
							li.sitemap-content-list__item 
								a(href="#" title="") Выравнивание полов самовыравнивающейся смесью 
							li.sitemap-content-list__item 
								a(href="#" title="") Демонтаж бетонной стяжки 
							li.sitemap-content-list__item 
								a(href="#" title="") Демонтаж линолеума, уложенного без клея 
							li.sitemap-content-list__item 
								a(href="#" title="") Демонтаж линолеума, уложенного на клей
					li.sitemap-content-list__item
						a(href="#" title="") Гипсовая
						ul.sitemap-content-list.sitemap-content-list--inside
							li.sitemap-content-list__item 
								a(href="#" title="") Как правильно наносить гипсовую штукатурку?
							li.sitemap-content-list__item 
								a(href="#" title="") Видео-инструкция по монтажу подвесного потолка Армстронг 
							li.sitemap-content-list__item 
								a(href="#" title="") Видео-советы и инструкция по обшивке потолка вагонкой 
							li.sitemap-content-list__item 
								a(href="#" title="") Видео-урок по изготовлению лепнины под люстру 
							li.sitemap-content-list__item 
								a(href="#" title="") Выравнивание потолка обрешеткой 
							li.sitemap-content-list__item 
								a(href="#" title="") Вырезка и установка на потолок декоративной вставки из фанеры 
							li.sitemap-content-list__item 
								a(href="#" title="") Грунтовка бетонного потолка
					li.sitemap-content-list__item
						a(href="#" title="") Фасадная
						ul.sitemap-content-list.sitemap-content-list--inside
							li.sitemap-content-list__item
								a(href="#" title="") Как правильно наносить венецианскую штукатурку?
							li.sitemap-content-list__item
								a(href="#" title="") Cоветы по выбору вида электрического пола 
							li.sitemap-content-list__item
								a(href="#" title="") Виды дюбелей для крепления светильников и люстр 
							li.sitemap-content-list__item
								a(href="#" title="") Выбор средства для очистки вытяжки 
							li.sitemap-content-list__item
								a(href="#" title="") Вынос радиатора отопления на балкон 
					li.sitemap-content-list__item
						a(href="#" title="") Другие виды
						ul.sitemap-content-list.sitemap-content-list--inside
							li.sitemap-content-list__item 
								a(href="#" title="") Видео-инструкция по укладке ламината 
							li.sitemap-content-list__item 
								a(href="#" title="") Выравнивание полов самовыравнивающейся смесью 
							li.sitemap-content-list__item 
								a(href="#" title="") Демонтаж бетонной стяжки 
							li.sitemap-content-list__item 
								a(href="#" title="") Демонтаж линолеума, уложенного без клея 
							li.sitemap-content-list__item 
								a(href="#" title="") Демонтаж линолеума, уложенного на клей

			li.sitemap-content-list__item
				a(href="#" title="") Подготовка к работе
				ul.sitemap-content-list.sitemap-content-list--inside
					li.sitemap-content-list__item
						a(href="#" title="") Как выбрать шпатель?
					li.sitemap-content-list__item
						a(href="#" title="") Монтаж полиуретанового плинтуса на потолок 
					li.sitemap-content-list__item
						a(href="#" title="") Монтаж потолочного карниза для штор 
					li.sitemap-content-list__item
						a(href="#" title="") Монтаж потолочных панелей на обрешетку 
					li.sitemap-content-list__item
						a(href="#" title="") Монтаж прямоугольного короба из гипсокартона 
					li.sitemap-content-list__item
						a(href="#" title="") Окраска потолков водоэмульсионными составами 
					li.sitemap-content-list__item
						a(href="#" title="") Очистка потолка от шпатлевки 
					li.sitemap-content-list__item
						a(href="#" title="") Поклейка потолочных обоев под покраску

			li.sitemap-content-list__item
				a(href="#" title="") Выбор инструментов
				ul.sitemap-content-list.sitemap-content-list--inside
					li.sitemap-content-list__item 
						a(href="#" title="") Как правильно наносить декоративную штукатурку?
					li.sitemap-content-list__item 
						a(href="#" title="") Врезка замка и дверной ручки в межкомнатную дверь 
					li.sitemap-content-list__item 
						a(href="#" title="") Врезка простого замка в межкомнатную дверь 
					li.sitemap-content-list__item 
						a(href="#" title="") Демонтаж дверной коробки 
					li.sitemap-content-list__item 
						a(href="#" title="") Демонтаж оконного блока 

			li.sitemap-content-list__item
				a(href="#" title="") Штукатурка стен
				ul.sitemap-content-list.sitemap-content-list--inside
					li.sitemap-content-list__item
						a(href="#" title="") Как выбрать шпатель?
					li.sitemap-content-list__item
						a(href="#" title="") Облицовка стен натуральным камнем 
					li.sitemap-content-list__item
						a(href="#" title="") Обшивка стен вагонкой 
					li.sitemap-content-list__item
						a(href="#" title="") Оклейка стен виниловыми обоями 
					li.sitemap-content-list__item
						a(href="#" title="") Оклейка стен текстильными обоями 
					li.sitemap-content-list__item
						a(href="#" title="") Окраска стен водоэмульсионными составами в один цвет 
					li.sitemap-content-list__item
						a(href="#" title="") Очистка стен от краски и шпатлевки 
					li.sitemap-content-list__item
						a(href="#" title="") Поклейка обоев своими руками 
					li.sitemap-content-list__item
						a(href="#" title="") Покраска стен в помещении: полезные советы 
					li.sitemap-content-list__item
						a(href="#" title="") Пробковое звукоизоляционное покрытие стен 
					li.sitemap-content-list__item
						a(href="#" title="") Профессиональные советы по заделке стыков в гипсокартоне

			li.sitemap-content-list__item
				a(href="#" title="") Отделка и украшение
				ul.sitemap-content-list.sitemap-content-list--inside
					li.sitemap-content-list__item
						a(href="#" title="") Как выбрать шпатель?
					li.sitemap-content-list__item
						a(href="#" title="") Как демонтировать и навесить батарею отопления 
					li.sitemap-content-list__item
						a(href="#" title="") Монтаж водопровода в квартире 
					li.sitemap-content-list__item
						a(href="#" title="") Монтаж и подключение посудомоечной машины 
					li.sitemap-content-list__item
						a(href="#" title="") Монтаж и подключение смесителя в ванной комнате 
					li.sitemap-content-list__item
						a(href="#" title="") Монтаж котельной в загородном доме 
					li.sitemap-content-list__item
						a(href="#" title="") Монтаж полотенцесушителя в ванной 
					li.sitemap-content-list__item
						a(href="#" title="") Монтаж радиатора отопления в помещении

			li.sitemap-content-list__item
				a(href="#" title="") Ремонт штукатурки
				ul.sitemap-content-list.sitemap-content-list--inside
					li.sitemap-content-list__item 
						a(href="#" title="") Как правильно наносить гипсовую штукатурку?
					li.sitemap-content-list__item 
						a(href="#" title="") Видео-инструкция по монтажу подвесного потолка Армстронг 
					li.sitemap-content-list__item 
						a(href="#" title="") Видео-советы и инструкция по обшивке потолка вагонкой 
					li.sitemap-content-list__item
						a(href="#" title="") Видео-урок по изготовлению лепнины под люстру 
					li.sitemap-content-list__item 
						a(href="#" title="") Выравнивание потолка обрешеткой 
					li.sitemap-content-list__item 
						a(href="#" title="") Вырезка и установка на потолок декоративной вставки из фанеры 
					li.sitemap-content-list__item 
						a(href="#" title="") Грунтовка бетонного потолка

			li.sitemap-content-list__item
				a(href="#" title="") Технические параметры
				ul.sitemap-content-list.sitemap-content-list--inside
					li.sitemap-content-list__item
						a(href="#" title="") Монтаж и подключение посудомоечной машины 
					li.sitemap-content-list__item
						a(href="#" title="") Монтаж и подключение смесителя в ванной комнате 
					li.sitemap-content-list__item
						a(href="#" title="") Монтаж котельной в загородном доме 
					li.sitemap-content-list__item
						a(href="#" title="") Монтаж полотенцесушителя в ванной 
					li.sitemap-content-list__item
						a(href="#" title="") Монтаж радиатора отопления в помещении
						