mixin ask-content()
	section.ask-content
		+breadcrumbs('page')
		h1 Задать вопрос профессионалу

		p Согласитесь, в современном строительстве и ремонтных работах – масса тонкостей и нюансов. И что самое обидное, всего одна ошибка – и столько приходится потом переделывать, докупать материалы, а то и спасать потом соседей снизу от потопа или любимую баню – от пожара… 
		p А вот чтобы всего этого не произошло, достаточно вовремя получить рекомендацию от хорошего специалиста. Нет, не нужно отстаивать очереди в строительном бюро за платной консультацией или доверять, скрепя сердце, мнению соседского алкаша-всезнайки Васи, который когда-то «заводы строил и собаку на этом съел». Мы ведь живем в мире высоких технологий – получите качественную бесплатную консультацию эксперта по ремонту и строительству прямо сейчас, никуда не выходя из дома – с помощью простой формы, которую вы видите ниже. Дело 3-х минут! Зато потом всю жизнь с благодарностью будете вспоминать портал shtukaturkapro.com.

		form(method="" action="").form
			input(type="text" value="" placeholder="Ваше имя").form__input
			input(type="email" value="" placeholder="Ваш e-mail").form__input
			textarea(placeholder="Подробно опишите свой вопрос").form__textarea
			.form-file 
				.form-file__btn Прикрепить файл
					input(type="file" name="files[]" multiple)#files
				output#list.form-file__preview
			input(type="submit" value="Задать вопрос").form__submit

		+specialist-list()

		.last-ask
			.last-ask__title Последние вопросы пользователей
			- for (var i = 0; i < 10; i++) {
			.last-ask-item
				a(href="/question.html" title="").last-ask-item__link Можно ли для утепления наружных стен кирпичного дома использовать минеральную вату
				p.last-ask-item__text Не только можно, но и нужно. И вот почему: Одной из важных характеристик строительных материалов в целом и стеновых в частности является паропроницаемость. Не углубляясь ...
			- }