.banner-sidebar {
	// width: 300px;
	margin: 0 auto 25px;
	> img {
		width: 100%;
	}
	@media screen and (max-width: 1024px) {
		width: 100%;
	}
	@media screen and (max-width: 960px) {
		display: none;
	}
}
