mixin popular-articles()
	section.popular-articles
		- for (var i = 0; i < 9; i++) {
		.popular-articles-item
			.popular-articles-item__img
				img(src="//www.placehold.it/82x82/EFEFEF/AAAAAA")
			.popular-articles-item__content
				a(href="/single.html" title="").popular-articles-item__link Контроль качества штукатурных работ что следует знать штукатуру?
				.popular-articles-item__category Отделка и украшение
		- }