mixin popular-articles()
	section.popular-articles
		//- - for (var i = 0; i < 9; i++) {
		.popular-articles-item
			img(src="%=staticPrefix=%images/content/popular-article.jpg" alt="").popular-articles-item__img
			.popular-articles-item__content
				a(href="#" title="").popular-articles-item__link Контроль качества штукатурных работ что следует знать штукатуру?
				.popular-articles-item__category Отделка и украшение
		.popular-articles-item
			img(src="%=staticPrefix=%images/content/popular-article.jpg" alt="").popular-articles-item__img
			.popular-articles-item__content
				a(href="#" title="").popular-articles-item__link Цветы из декоративной штукатурки
				.popular-articles-item__category Декоративная штукатурка
		.popular-articles-item
			img(src="%=staticPrefix=%images/content/popular-article.jpg" alt="").popular-articles-item__img
			.popular-articles-item__content
				a(href="#" title="").popular-articles-item__link Раствор для штукатурки
				.popular-articles-item__category Подготовка к работе
		.popular-articles-item
			img(src="%=staticPrefix=%images/content/popular-article.jpg" alt="").popular-articles-item__img
			.popular-articles-item__content
				a(href="#" title="").popular-articles-item__link Штукатурка деревянных стен
				.popular-articles-item__category Штукатурка стен
		.popular-articles-item
			img(src="%=staticPrefix=%images/content/popular-article.jpg" alt="").popular-articles-item__img
			.popular-articles-item__content
				a(href="#" title="").popular-articles-item__link Контроль качества штукатурных работ
				.popular-articles-item__category Технические параметры
		.popular-articles-item
			img(src="%=staticPrefix=%images/content/popular-article.jpg" alt="").popular-articles-item__img
			.popular-articles-item__content
				a(href="#" title="").popular-articles-item__link Шпатель для венецианской штукатурки
				.popular-articles-item__category Выбор инструментов
		.popular-articles-item
			img(src="%=staticPrefix=%images/content/popular-article.jpg" alt="").popular-articles-item__img
			.popular-articles-item__content
				a(href="#" title="").popular-articles-item__link Сколько стоит штукатурка стен в квартире
				.popular-articles-item__category Подготовка к работе
		.popular-articles-item
			img(src="%=staticPrefix=%images/content/popular-article.jpg" alt="").popular-articles-item__img
			.popular-articles-item__content
				a(href="#" title="").popular-articles-item__link Как проверить качество штукатурки
				.popular-articles-item__category Ремонт штукатурки
		.popular-articles-item
			img(src="%=staticPrefix=%images/content/popular-article.jpg" alt="").popular-articles-item__img
			.popular-articles-item__content
				a(href="#" title="").popular-articles-item__link Как укрепить старую штукатурку
				.popular-articles-item__category Штукатурка стен
		//- - }