footer.footer
	.footer__wrapper
		
		.copyright
			p © 2014-2015 Shtukaturkapro.ru
			p Штукатурка дома своими руками
			p Копирование и использование материалов запрещено!

		nav.footer-menu
			a(href="#", title="").footer-menu__item.footer-menu__item--gp Мы в Google+
			a(href="#", title="").footer-menu__item О проекте
			a(href="#", title="").footer-menu__item Рекламодателям
			a(href="#", title="").footer-menu__item.footer-menu__item--sitemap Карта сайта
			a(href="#", title="").footer-menu__item Задать вопрос 
			a(href="#", title="").footer-menu__item Контакты

		.counters
			img(src="images/temp/metrika.png", alt="")
			img(src="images/temp/liveinternet.png", alt="")

script(type="text/javascript" src="http://yastatic.net/jquery/1.11.1/jquery.min.js")
script(type="text/javascript" src="scripts/app.js")