head
	link(href='css/style.css', rel='stylesheet', type='text/css')
	meta(http-equiv="content-type", content="text/html; charset=UTF-8")
	title Shtukaturkapro.ru
	script(type="text/javascript", src="//vk.com/js/api/openapi.js", charset="utf8")