header.header
	.header__wrapper
		a(href="#", title="").logo-header

		.header-menu-search
			nav.top-menu
				a(href="#", title="") О проекте
				a(href="#", title="") Задать вопрос
				a(href="#", title="") Калькуляторы
				a(href="#", title="") Рекламодателям
				a(href="#", title="") Контакты
			
			.ya-site-form.ya-site-form_inited_yes
				form(action="http://yandex.ru/", method="get", target="_self")
					input.ya-site-form__input-text(name="text", type="search", value="", placeholder="Поиск по сайту")
					input.ya-site-form__submit(type="submit", value="Найти")

		.social-group
			span.social-group__header Мы в социальных сетях
			a(href="#", title="").social-group__icon.social-group__icon--vk
			a(href="#", title="").social-group__icon.social-group__icon--fb
			a(href="#", title="").social-group__icon.social-group__icon--gp