.question-list-content {
	@extend .left-side;
	@extend .seo-text;
	@media screen and (max-width: 960px) {
		box-sizing: border-box;
	}
}

.question-list-search {
	margin-bottom: 15px;
	padding: 20px;

	background: $brown;
	@media screen and (max-width: 960px) {
		display: flex;

		align-items: center;
		justify-content: space-between;
	}
	&__input {
		width: 81%;

		@extend .ask-form__input;
		@media screen and (max-width: 960px) {
			width: 70%;
			padding-top: 7px;
			padding-bottom: 7px;
			padding-left: 7px;

			font-size: em(12px);
		}
	}
	&__submit {
		width: 15%;
		margin: 0 0 0 5px;
		padding: 7px 15px;

		border: 0;
		background: linear-gradient(#fae569, $yellow);
		text-shadow: 0 1px 0 #fae569 + #111;
		@media screen and (max-width: 960px) {
			box-sizing: border-box;
			width: 30%;
		}
		&:hover {
			box-shadow: 0 0 1px $brown;
		}
	}
}

.question-list-noquestion {
	display: flex;

	margin-top: 15px;
	padding: 20px;

	background: $coral;

	align-items: center;
	justify-content: space-between;
	@media screen and (max-width: 640px) {
		text-align: center;

		flex-wrap: wrap;
	}
	&__text {
		text-transform: uppercase;

		color: #fff;

		font-size: em(16px);
		@media screen and (max-width: 1024px) {
			width: 50%;
		}
		@media screen and (max-width: 640px) {
			width: 70%;
			margin: 0 auto 12px;
		}
		@media screen and (max-width: 480px) {
			width: 80%;
		}
		@media screen and (max-width: 420px) {
			width: 100%;
		}
	}
	&__link {
		display: block;

		width: 250px;
		height: 35px;

		text-align: center;
		text-decoration: none !important;

		color: #fff !important;
		border: 1px solid #fff;

		line-height: 35px;
		@media screen and (max-width: 640px) {
			margin: auto;
		}
		&:hover {
			color: $coral !important;
			background: #fff;
		}
	}
}
