mixin question-list-content()
	.question-list-content
		+breadcrumbs('category')
		h1 Вопросы пользователей
		form(method="" action="").question-list-search
			input(type="search" value="" placeholder="Поиск по базе вопросов").question-list-search__input
			input(type="submit" value="Поиск").question-list-search__submit
		- for (var i = 0; i < 10; i++) {
		.last-ask-item
			a(href="/question.html" title="").last-ask-item__link Можно ли для утепления наружных стен кирпичного дома использовать минеральную вату
			p.last-ask-item__text Не только можно, но и нужно. И вот почему: Одной из важных характеристик строительных материалов в целом и стеновых в частности является паропроницаемость. Не углубляясь ...
		- }
		.question-list-noquestion
			.question-list-noquestion__text НЕ НАШЛИ ОТВЕТА НА СВОЙ ВОПРОС? ЗАДАЙТЕ ЕГО ЭКСПЕРТУ
			a(href="/ask.html" title="").question-list-noquestion__link Задайте вопрос прямо сейчас!
		+pagination()