@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.seo ul li,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;

	vertical-align: baseline;

	border: 0;

	font: inherit;
	font-size: 100%;
}

html {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

table {
	border-spacing: 0;

	border-collapse: collapse;
}

caption,
th,
td {
	text-align: left;
	vertical-align: middle;

	font-weight: normal;
}

q,
blockquote {
	quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

@font-face {
	font-family: "Panton Black";
	font-weight: normal;
	font-style: normal;

	src: url("../fonts/Panton-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-Black-webfont.woff2") format("woff2"), url("../fonts/Panton-Black-webfont.woff") format("woff"), url("../fonts/Panton-Black-webfont.ttf") format("truetype"), url("../fonts/Panton-Black-webfont.svg#panton_blackregular") format("svg");
	src: url("../fonts/Panton-Black-webfont.eot");
}
@font-face {
	font-family: "Panton Bold";
	font-weight: 700;
	font-style: normal;

	src: url("../fonts/Panton-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-Bold-webfont.woff2") format("woff2"), url("../fonts/Panton-Bold-webfont.woff") format("woff"), url("../fonts/Panton-Bold-webfont.ttf") format("truetype"), url("../fonts/Panton-Bold-webfont.svg#pantonbold") format("svg");
	src: url("../fonts/Panton-Bold-webfont.eot");
}
@font-face {
	font-family: "Panton Regular";
	font-weight: normal;
	font-style: normal;

	src: url("../fonts/Panton-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Panton-Regular-webfont.woff2") format("woff2"), url("../fonts/Panton-Regular-webfont.woff") format("woff"), url("../fonts/Panton-Regular-webfont.ttf") format("truetype"), url("../fonts/Panton-Regular-webfont.svg#pantonregular") format("svg");
	src: url("../fonts/Panton-Regular-webfont.eot");
}
input:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
	font-style: italic;
}
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
	font-style: italic;
}
input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	font-style: italic;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font-style: italic;
}
input:focus,
select:focus,
textarea:focus {
	color: #333;
	outline: none;
}

select {
	border: 1px solid #e5e5e5;
}

body {
	background: url(../images/bg.png);

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.wrapper,
.container {
	width: 1060px;
	margin: auto;
}

.container {
	position: relative;

	display: -webkit-flex;
	display:         flex;
	        flex-direction: row;

	margin-top: 30px;

	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 6px #c7c6c7;
	   -moz-box-shadow: 0 0 6px #c7c6c7;
	        box-shadow: 0 0 6px #c7c6c7;

	-webkit-align-items: flex-start;
	        align-items: flex-start;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.content {
	width: 740px;
	padding: 25px;
}

a {
	color: #3e538c;

	font-size: 14px;
	line-height: 17px;
}
a:hover {
	text-decoration: none;
}

.title,
h1,
.main-categories .main-categories-block__title,
.materials-block__title {
	text-transform: uppercase;

	color: #71575a;

	font-family: "Panton Black", Arial;
}

h1 {
	color: #ee6b5b;

	font-size: 18px;
	line-height: 20px;
}

h2 {
	margin-bottom: 10px;

	color: #ee6b5b;

	font-family: "Panton Bold", Arial;
	font-size: 17px;
	font-weight: 700;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.header {
	background: #71575a url(../images/header-bg.jpg) repeat-x;
}
.header__wrapper {
	display: -webkit-flex;
	display:         flex;
	        flex-direction: row;

	width: 1060px;
	height: 108px;
	margin: auto;

	-webkit-align-items: center;
	        align-items: center;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.header .logo-header {
	display: block;

	width: 320px;
	height: 72px;

	background-image: url(sprite.png);
	background-position: 0 0;
}
.header .header-menu-search {
	width: 450px;
}
.header .header-menu-search .top-menu {
	display: -webkit-flex;
	display:         flex;
	        flex-direction: row;

	margin-top: 0;
	margin-bottom: 12px;

	-webkit-align-items: center;
	        align-items: center;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.header .header-menu-search .top-menu a {
	color: #feda00;
	border-bottom: 1px solid #9c8570;

	font-size: 14px;
	font-style: italic;
}
.header .header-menu-search .top-menu a:hover {
	color: #fff;
	border-bottom-color: #fff;
}
.header .header-menu-search .ya-site-form {
	position: relative;
}
.header .header-menu-search .ya-site-form:before {
	position: absolute;
	top: 12px;
	left: 0;
	left: 11px;

	display: block;

	width: 16px;
	height: 16px;

	content: "";

	background-image: url(sprite.png);
	background-position: -164px -77px;
}
.header .header-menu-search .ya-site-form__input-text {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 380px;
	height: 37px;
	padding-left: 32px;

	color: #000;
	border: 1px solid #573c3f;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0 2px 0 #573c3f;
	   -moz-box-shadow: 0 2px 0 #573c3f;
	        box-shadow: 0 2px 0 #573c3f;

	font-size: 14px;
}
.header .header-menu-search .ya-site-form__input-text:-moz-placeholder {
	font-size: 14px;
	font-style: italic;
}
.header .header-menu-search .ya-site-form__input-text::-moz-placeholder {
	font-size: 14px;
	font-style: italic;
}
.header .header-menu-search .ya-site-form__input-text:-ms-input-placeholder {
	font-size: 14px;
	font-style: italic;
}
.header .header-menu-search .ya-site-form__input-text::-webkit-input-placeholder {
	font-size: 14px;
	font-style: italic;
}
.header .header-menu-search .ya-site-form__submit {
	position: relative;
	top: 1px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 65px;
	height: 37px;

	color: #000;
	border: 1px solid #573c3f;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZTQ2NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZGEwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9e464), color-stop(100%, #feda00));
	background-image:    -moz-linear-gradient(#f9e464, #feda00);
	background-image: -webkit-linear-gradient(#f9e464, #feda00);
	background-image:         linear-gradient(#f9e464, #feda00);
	background-size: 100%;
	-webkit-box-shadow: 0 2px 0 #573c3f;
	   -moz-box-shadow: 0 2px 0 #573c3f;
	        box-shadow: 0 2px 0 #573c3f;
	text-shadow: 0 1px #fff;

	font-size: 15px;
}
.header .social-group {
	text-align: center;
}
.header .social-group__header {
	display: block;

	margin-bottom: 15px;

	color: #fff;

	font-size: 14px;
}
.header .social-group__icon {
	display: inline-block;

	width: 32px;
	height: 32px;
	margin-right: 7px;
}
.header .social-group__icon--vk {
	width: 32px;
	height: 32px;

	background-image: url(sprite.png);
	background-position: 0 -77px;
}
.header .social-group__icon--fb {
	width: 32px;
	height: 32px;

	background-image: url(sprite.png);
	background-position: -74px -77px;
}
.header .social-group__icon--gp {
	width: 32px;
	height: 32px;

	background-image: url(sprite.png);
	background-position: -37px -77px;
}
.header .social-group__icon:last-child {
	margin-right: 0;
}

.sidebar {
	position: absolute;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 270px;
	height: 100%;
	padding: 18px 15px;

	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiNmNmY0ZjUiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(20%, #f6f4f5), color-stop(80%, #fff));
	background-image:    -moz-linear-gradient(left, #f6f4f5 20%, #fff 80%);
	background-image: -webkit-linear-gradient(left, #f6f4f5 20%, #fff 80%);
	background-image:         linear-gradient(to right, #f6f4f5 20%, #fff 80%);
	background-size: 100%;
}
.sidebar .title,
.sidebar h1,
.sidebar .main-categories .main-categories-block__title,
.main-categories .sidebar .main-categories-block__title,
.sidebar .materials-block__title {
	position: relative;

	margin-bottom: 16px;
	padding-left: 40px;

	font-size: 14px;
}
.sidebar .title:before,
.sidebar h1:before,
.sidebar .main-categories .main-categories-block__title:before,
.main-categories .sidebar .main-categories-block__title:before,
.sidebar .materials-block__title:before {
	position: absolute;
	left: 0;

	display: block;

	content: "";
}
.sidebar .calculators,
.sidebar .user-questions {
	margin-top: 30px;
}
.sidebar .calculators__title,
.sidebar .user-questions__title {
	padding-top: 6px;
}
.sidebar .calculators__title:before,
.sidebar .user-questions__title:before {
	top: 0;
	left: 10px;

	width: 21px;
	height: 26px;

	background-image: url(sprite.png);
	background-position: -138px -77px;
}
.sidebar .calculators__item,
.sidebar .user-questions__item {
	position: relative;

	display: block;

	margin-bottom: 3px;
	padding-left: 27px;
}
.sidebar .calculators__item:before,
.sidebar .user-questions__item:before {
	position: absolute;
	top: 3px;
	left: 0;
	left: 11px;

	display: block;

	width: 10px;
	height: 10px;

	content: "";

	background-image: url(sprite.png);
	background-position: -17px -114px;
}
.sidebar .user-questions {
	margin-bottom: 30px;
	padding-right: 16px;
}
.sidebar .user-questions__title:before {
	width: 22px;
	height: 26px;

	background-image: url(sprite.png);
	background-position: -111px -77px;
}
.sidebar .user-questions__button {
	display: block;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 238px;
	margin-top: 15px;
	padding: 13px 0 10px;

	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	color: #fefefe;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YjQxOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmOWUxYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4b419), color-stop(100%, #ef9e1a));
	background-image:    -moz-linear-gradient(#f4b419, #ef9e1a);
	background-image: -webkit-linear-gradient(#f4b419, #ef9e1a);
	background-image:         linear-gradient(#f4b419, #ef9e1a);
	background-size: 100%;
	-webkit-box-shadow: 0 2px 0 #b76602;
	   -moz-box-shadow: 0 2px 0 #b76602;
	        box-shadow: 0 2px 0 #b76602;
	text-shadow: 0 0 5px #b76602;
}
.sidebar .user-questions__button:hover {
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmOWUxYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0YjQxOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ef9e1a), color-stop(100%, #f4b419));
	background-image:    -moz-linear-gradient(#ef9e1a, #f4b419);
	background-image: -webkit-linear-gradient(#ef9e1a, #f4b419);
	background-image:         linear-gradient(#ef9e1a, #f4b419);
	background-size: 100%;
	-webkit-box-shadow: 0 2px 0 #f4b419;
	   -moz-box-shadow: 0 2px 0 #f4b419;
	        box-shadow: 0 2px 0 #f4b419;
}
.sidebar .vk-group {
	width: 200px;
	margin: 15px auto;
}

.main-categories {
	display: -webkit-flex;
	display:         flex;
	        flex-direction: row;

	-webkit-align-items: flex-start;
	        align-items: flex-start;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.main-categories .main-categories-block {
	width: 210px;
	margin-bottom: 24px;
}
.main-categories .main-categories-block--row {
	width: 700px;
}
.main-categories .main-categories-block__title {
	position: relative;

	display: block;

	margin-bottom: 3px;
	padding-left: 15px;

	text-decoration: underline;

	font-size: 14px;
	line-height: 20px;
}
.main-categories .main-categories-block__title:before {
	position: absolute;
	left: 0;

	display: block;

	content: "";
	content: "→" !important;
}
.main-categories .main-categories-block__title:hover {
	text-decoration: none;

	color: #ee6b5b;
}
.main-categories .main-categories-block__title--nolink {
	padding-left: 0;

	text-decoration: none;
}
.main-categories .main-categories-block__title--nolink:hover {
	color: #71575a;
}
.main-categories .main-categories-block__title--nolink:before {
	content: "";
}
.main-categories .main-categories-block__item {
	position: relative;

	display: inline-block;

	margin-right: 24px;
	margin-bottom: 3px;
	padding-left: 15px;

	font-size: 14px;
	line-height: 17px;
}
.main-categories .main-categories-block__item:before {
	position: absolute;
	top: 3px;
	left: 0;

	display: block;

	width: 10px;
	height: 10px;

	content: "";

	background-image: url(sprite.png);
	background-position: -17px -114px;
}

.materials {
	display: -webkit-flex;
	display:         flex;
	        flex-direction: row;

	-webkit-align-items: flex-start;
	        align-items: flex-start;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.materials-block {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 350px;
	padding: 17px;
	padding-bottom: 0;

	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background: #f3eee8;
}
.materials-block__title {
	position: relative;

	margin-bottom: 20px;
	padding-left: 19px;
}
.materials-block__title:before {
	position: absolute;
	left: 0;
	left: 0;

	display: block;

	content: "";
}
.materials-block__title a {
	position: absolute;
	top: -1px;
	right: 0;

	text-transform: none;

	color: #71575a;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 12px;
	font-style: italic;
}
.materials-block__title--last-articles:before {
	width: 12px;
	height: 14px;

	background-image: url(sprite.png);
	background-position: 0 -114px;
}
.materials-block__title--popular-articles:before {
	width: 13px;
	height: 13px;

	background-image: url(sprite.png);
	background-position: -205px -77px;
}
.materials-block__item {
	margin-bottom: 13px;
	padding-bottom: 13px;

	border-bottom: 1px solid #e7e2dc;
}
.materials-block__item img {
	display: inline-block;

	vertical-align: top;

	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
.materials-block__item .materials-block-inside {
	display: inline-block;

	width: 245px;
	margin-left: 15px;
}
.materials-block__item .materials-block-inside .materials-block-meta {
	position: relative;

	display: inline-block;

	margin-top: 10px;
	margin-right: 20px;
	padding-left: 17px;

	color: #71575a;

	font-size: 12px;
}
.materials-block__item .materials-block-inside .materials-block-meta:before {
	position: absolute;
	left: 0;

	display: block;

	content: "";
}
.materials-block__item .materials-block-inside .materials-block-meta--category:before {
	top: 4px;

	width: 12px;
	height: 4px;

	background-image: url(sprite.png);
	background-position: -242px -77px;
}
.materials-block__item .materials-block-inside .materials-block-meta--views:before {
	top: 2px;

	width: 14px;
	height: 8px;

	background-image: url(sprite.png);
	background-position: -223px -77px;
}

.seo {
	margin-top: 41px;
}
.seo h1 {
	margin-bottom: 20px;
}
.seo p,
.seo ul li {
	margin-bottom: 15px;

	color: #313131;

	font-size: 14px;
	line-height: 20px;
}
.seo ul li {
	position: relative;

	padding-left: 36px;
}
.seo ul li:before {
	position: absolute;
	top: 2px;
	left: 15px;
	left: 0;

	display: block;

	width: 15px;
	height: 15px;

	content: "";

	background-image: url(sprite.png);
	background-position: -185px -77px;
}
