@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic);

@font-face {
    font-family: 'Panton Black';
    src: url('../fonts/Panton-Black-webfont.eot');
    src: url('../fonts/Panton-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Panton-Black-webfont.woff2') format('woff2'),
         url('../fonts/Panton-Black-webfont.woff') format('woff'),
         url('../fonts/Panton-Black-webfont.ttf') format('truetype'),
         url('../fonts/Panton-Black-webfont.svg#panton_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Panton Bold';
    src: url('../fonts/Panton-Bold-webfont.eot');
    src: url('../fonts/Panton-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Panton-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Panton-Bold-webfont.woff') format('woff'),
         url('../fonts/Panton-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Panton-Bold-webfont.svg#pantonbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Panton Regular';
    src: url('../fonts/Panton-Regular-webfont.eot');
    src: url('../fonts/Panton-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Panton-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Panton-Regular-webfont.woff') format('woff'),
         url('../fonts/Panton-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Panton-Regular-webfont.svg#pantonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}