// --------------- Default Colors --------------- //

$df-brown-color: #573c3f; $df-brown-light-color: #71575a;

$df-yellow-color: #feda00;	$df-yellow-light-color: #fff4b2;

$df-orange-color: #ee6b5b;

$df-link-color: #3e538c;

$df-box-shadow: #c7c6c7;

// --------------- Default Sizes --------------- //

// wrapper width 
$df-width-wrapper: 1060px;

// border-radius
$df-border-radius: 5px;

// font-size
$df-font-size: 16px;