.last-questions {
	margin-top: 25px;
	&__title {
		margin-bottom: 15px;

		text-align: center;

		@extend .title;
	}
	&__item {
		position: relative;

		display: block;

		margin-bottom: 10px;
		padding-left: 20px;

		font-size: em(15px);
		line-height: em(18px, 15px);

		@extend .link;
		&:before {
			top: 4px;
			left: 0;

			@include content;
			@include bg($question-link);
		}
	}
}
