nav.article-nav
	.article-nav__title Содержание статьи
	a(href="#", title="") Особенности фасадной штукатурки
	a(href="#", title="") Подготовка поверхности перед оштукатуриванием
	a(href="#", title="") Облицовка стен дома
	a(href="#", title="") Процесс штукатруки фасада