section.article-meta
	.rating(itemprop="aggregateRating", itemscope="", itemtype="http://schema.org/AggregateRating")
		.rating__title Рейтинг статьи:
		span#rating-7
			span.star-rating-control
				.star-rating.rater-0.star-rating-applied.star-rating-live.star-rating-on(role="text")
					a(title="1") 1
				.star-rating.rater-0.star-rating-applied.star-rating-live.star-rating-on(role="text")
					a(title="2") 2
				.star-rating.rater-0.star-rating-applied.star-rating-live.star-rating-on(role="text")
					a(title="3") 3
				.star-rating.rater-0.star-rating-applied.star-rating-live.star-rating-on(role="text")
					a(title="4") 4
				.star-rating.rater-0.star-rating-applied.star-rating-live(role="text")
					a(title="5") 5
				meta(itemprop="worstRating", content="1")
	a(href="#", title="").print-version Версия для печати
	.social
		.social__title Поделиться:
		.pluso(data-background="transparent", data-options="medium,square,line,horizontal,nocounter,theme=04", data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir")
