.breadcrumbs
	a(href="#", title="").breadcrumbs__item.breadcrumbs__item--home Главная
	a(href="#", title="").breadcrumbs__item Категория
	span.breadcrumbs__item.breadcrumbs__item--current Текущая страница