.calculators
	.title.calculators__title Калькуляторы
	nav
		a(href="#", title="").calculators__item Расчет раствора          
		a(href="#", title="").calculators__item Расчет штукатурной смеси          
		a(href="#", title="").calculators__item Расчет расхода шпатлевки          
		a(href="#", title="").calculators__item Расчет бетона