.category-list
	.category-list-item
		img(src="images/temp/category-list-img-1.png", alt="")
		.meta
			.meta__date 25.08.2015
			.meta__comments 15
			.meta__views 6850
		a(href="#", title="") Штукатурка фасада дома своими руками

	.category-list-item
		img(src="images/temp/category-list-img-2.png", alt="")
		.meta
			.meta__date 25.08.2015
			.meta__comments 15
			.meta__views 6850
		a(href="#", title="") Штукатурка фасада дома своими руками

	.category-list-item
		img(src="images/temp/category-list-img-3.png", alt="")
		.meta
			.meta__date 25.08.2015
			.meta__comments 15
			.meta__views 6850
		a(href="#", title="") Штукатурка фасада дома своими руками

	.category-list-item
		img(src="images/temp/category-list-img-2.png", alt="")
		.meta
			.meta__date 25.08.2015
			.meta__comments 15
			.meta__views 6850
		a(href="#", title="") Штукатурка стен своими руками с видео. Установка маяков

	.category-list-item
		img(src="images/temp/category-list-img-3.png", alt="")
		.meta
			.meta__date 25.08.2015
			.meta__comments 15
			.meta__views 6850
		a(href="#", title="") Штукатурка фасада дома своими руками

	.category-list-item
		img(src="images/temp/category-list-img-1.png", alt="")
		.meta
			.meta__date 25.08.2015
			.meta__comments 15
			.meta__views 6850
		a(href="#", title="") Штукатурка фасада дома своими руками

	.category-list-item
		img(src="images/temp/category-list-img-1.png", alt="")
		.meta
			.meta__date 25.08.2015
			.meta__comments 15
			.meta__views 6850
		a(href="#", title="") Штукатурка фасада дома своими руками

	.category-list-item
		img(src="images/temp/category-list-img-2.png", alt="")
		.meta
			.meta__date 25.08.2015
			.meta__comments 15
			.meta__views 6850
		a(href="#", title="") Штукатурка фасада дома своими руками

	.category-list-item
		img(src="images/temp/category-list-img-3.png", alt="")
		.meta
			.meta__date 25.08.2015
			.meta__comments 15
			.meta__views 6850
		a(href="#", title="") Штукатурка фасада дома своими руками

	.category-list-item
		img(src="images/temp/category-list-img-2.png", alt="")
		.meta
			.meta__date 25.08.2015
			.meta__comments 15
			.meta__views 6850
		a(href="#", title="") Штукатурка фасада дома своими руками

	.category-list-item
		img(src="images/temp/category-list-img-3.png", alt="")
		.meta
			.meta__date 25.08.2015
			.meta__comments 15
			.meta__views 6850
		a(href="#", title="") Штукатурка фасада дома своими руками

	.category-list-item
		img(src="images/temp/category-list-img-1.png", alt="")
		.meta
			.meta__date 25.08.2015
			.meta__comments 15
			.meta__views 6850
		a(href="#", title="") Штукатурка фасада дома своими руками

	.category-list-item
		img(src="images/temp/category-list-img-1.png", alt="")
		.meta
			.meta__date 25.08.2015
			.meta__comments 15
			.meta__views 6850
		a(href="#", title="") Штукатурка фасада дома своими руками

	.category-list-item
		img(src="images/temp/category-list-img-2.png", alt="")
		.meta
			.meta__date 25.08.2015
			.meta__comments 15
			.meta__views 6850
		a(href="#", title="") Штукатурка фасада дома своими руками

	.category-list-item
		img(src="images/temp/category-list-img-3.png", alt="")
		.meta
			.meta__date 25.08.2015
			.meta__comments 15
			.meta__views 6850
		a(href="#", title="") Штукатурка фасада дома своими руками