.main-categories
	.main-categories-block.main-categories-block--row
		nav
			span.main-categories-block__title.main-categories-block__title--nolink Виды штукатурки:
			a(href="#", title="").main-categories-block__item Декоративная
			a(href="#", title="").main-categories-block__item Венецианская
			a(href="#", title="").main-categories-block__item Фактурная
			a(href="#", title="").main-categories-block__item Гипсовая
			a(href="#", title="").main-categories-block__item Фасадная
			a(href="#", title="").main-categories-block__item Другие виды

	.main-categories-block
		nav
			a(href="#", title="").main-categories-block__title Подготовка к работе
			a(href="#", title="").main-categories-block__item Раствор для штукатурки
			a(href="#", title="").main-categories-block__item Как снять штукатурку со стены
			a(href="#", title="").main-categories-block__item Подготовка стен под штукатурку
			a(href="#", title="").main-categories-block__item Сколько стоит штукатурка стен в квартире
			a(href="#", title="").main-categories-block__item Этапы штукатурки стен

	.main-categories-block
		nav
			a(href="#", title="").main-categories-block__title Выбор инструментов
			a(href="#", title="").main-categories-block__item Сетка под штукатурку
			a(href="#", title="").main-categories-block__item Направляющие для штукатурки стен
			a(href="#", title="").main-categories-block__item Крепление маяков под штукатурку
			a(href="#", title="").main-categories-block__item Шпатель для венецианской штукатурки
			a(href="#", title="").main-categories-block__item Что нужно для штукатурки стен

	.main-categories-block
		nav
			a(href="#", title="").main-categories-block__title Штукатурка стен
			a(href="#", title="").main-categories-block__item Штукатурка деревянных стен
			a(href="#", title="").main-categories-block__item Техника нанесения штукатурки короед
			a(href="#", title="").main-categories-block__item Отделка оконных откосов штукатуркой
			a(href="#", title="").main-categories-block__item Штукатурка наружных стен
			a(href="#", title="").main-categories-block__item Как вывести штукатуркой угол

	.main-categories-block
		nav
			a(href="#", title="").main-categories-block__title Отделка и украшение
			a(href="#", title="").main-categories-block__item Шпатлевка стен после штукатурки
			a(href="#", title="").main-categories-block__item Лепка из декоративной штукатурки
			a(href="#", title="").main-categories-block__item Отделка оконных откосов штукатуркой
			a(href="#", title="").main-categories-block__item Штукатурка под гранит
			a(href="#", title="").main-categories-block__item Цветы из декоративной штукатурки

	.main-categories-block
		nav
			a(href="#", title="").main-categories-block__title Ремонт штукатурки
			a(href="#", title="").main-categories-block__item Как укрепить старую штукатурку
			a(href="#", title="").main-categories-block__item Как найти кабель под штукатуркой
			a(href="#", title="").main-categories-block__item Почему трескается штукатурка
			a(href="#", title="").main-categories-block__item Сыпется штукатурка
			a(href="#", title="").main-categories-block__item Отошла штукатурка от стены что делать

	.main-categories-block
		nav
			a(href="#", title="").main-categories-block__title Технические параметры
			a(href="#", title="").main-categories-block__item Контроль качества штукатурных работ
			a(href="#", title="").main-categories-block__item Штукатурка - технические характеристики
			a(href="#", title="").main-categories-block__item Как проверить качество штукатурки
			a(href="#", title="").main-categories-block__item Классификация штукатурок
			a(href="#", title="").main-categories-block__item Смета на штукатурные работы

