.materials
	.materials-block.materials-block--last-articles
		.materials-block__title.materials-block__title--last-articles Последние материалы
			a(href="#", title="") Все статьи

		.materials-block__item
			img(src="images/temp/preview-50x50.jpg", alt="")
			.materials-block-inside
				a(href="#", title="") Контроль качества штукатурных
				span.materials-block-meta.materials-block-meta--category Отделка и украшение

		.materials-block__item
			img(src="images/temp/preview-50x50.jpg", alt="")
			.materials-block-inside
				a(href="#", title="") Контроль качества штукатурных работ что следует знать штукатуру?
				span.materials-block-meta.materials-block-meta--category Отделка и украшение

		.materials-block__item
			img(src="images/temp/preview-50x50.jpg", alt="")
			.materials-block-inside
				a(href="#", title="") Контроль качества штукатурных работ что следует знать штукатуру?
				span.materials-block-meta.materials-block-meta--category Отделка и украшение

		.materials-block__item
			img(src="images/temp/preview-50x50.jpg", alt="")
			.materials-block-inside
				a(href="#", title="") Контроль качества штукатурных 
				span.materials-block-meta.materials-block-meta--category Отделка и украшение

		.materials-block__item
			img(src="images/temp/preview-50x50.jpg", alt="")
			.materials-block-inside
				a(href="#", title="") Контроль качества штукатурных работ что следует знать штукатуру?
				span.materials-block-meta.materials-block-meta--category Отделка и украшение

	.materials-block.materials-block--popular-articles
		.materials-block__title.materials-block__title--popular-articles Популярные материалы
			a(href="#", title="") Все статьи

		.materials-block__item
			img(src="images/temp/preview-50x50.jpg", alt="")
			.materials-block-inside
				a(href="#", title="") Контроль качества штукатурных
				span.materials-block-meta.materials-block-meta--views 6850
				span.materials-block-meta.materials-block-meta--category Отделка и украшение

		.materials-block__item
			img(src="images/temp/preview-50x50.jpg", alt="")
			.materials-block-inside
				a(href="#", title="") Контроль качества штукатурных работ что следует знать штукатуру?
				span.materials-block-meta.materials-block-meta--views 6850
				span.materials-block-meta.materials-block-meta--category Отделка и украшение

		.materials-block__item
			img(src="images/temp/preview-50x50.jpg", alt="")
			.materials-block-inside
				a(href="#", title="") Контроль качества штукатурных работ что следует знать штукатуру?
				span.materials-block-meta.materials-block-meta--views 6850
				span.materials-block-meta.materials-block-meta--category Отделка и украшение

		.materials-block__item
			img(src="images/temp/preview-50x50.jpg", alt="")
			.materials-block-inside
				a(href="#", title="") Контроль качества штукатурных 
				span.materials-block-meta.materials-block-meta--views 6850
				span.materials-block-meta.materials-block-meta--category Отделка и украшение

		.materials-block__item
			img(src="images/temp/preview-50x50.jpg", alt="")
			.materials-block-inside
				a(href="#", title="") Контроль качества штукатурных работ что следует знать штукатуру?
				span.materials-block-meta.materials-block-meta--views 6850
				span.materials-block-meta.materials-block-meta--category Отделка и украшение