nav.sidebar-menu
	a(href="#", title="").sidebar-menu__item.active Декоративная
	a(href="#", title="").sidebar-menu__item Венецианская
	a(href="#", title="").sidebar-menu__item Фактурная
	a(href="#", title="").sidebar-menu__item Гипсовая
	a(href="#", title="").sidebar-menu__item Фасадная
	a(href="#", title="").sidebar-menu__item Другие виды
	a(href="#", title="").sidebar-menu__item Подготовка к работе
	a(href="#", title="").sidebar-menu__item Выбор инструментов
	a(href="#", title="").sidebar-menu__item Штукатурка стен
	a(href="#", title="").sidebar-menu__item Отделка и украшение
	a(href="#", title="").sidebar-menu__item Ремонт штукатурки
	a(href="#", title="").sidebar-menu__item Технические параметры