.similar-article
	.similar-article__title Похожие материалы
	.similar-article-list
		.similar-article-list__item
			img(src="images/temp/similar-article.png", alt="")
			a(href="#", title="") Штукатурка фасада дома своими руками
		.similar-article-list__item
			img(src="images/temp/similar-article.png", alt="")
			a(href="#", title="") Наружная штукатурка дома - отделка стен своими руками
		.similar-article-list__item
			img(src="images/temp/similar-article.png", alt="")
			a(href="#", title="") Штукатурка стен своими руками с видео.  Установка маяков
		.similar-article-list__item
			img(src="images/temp/similar-article.png", alt="")
			a(href="#", title="") Штукатурка фасада дома своими руками