.user-questions
	.title.user-questions__title Вопросы эксперту
	nav
		a(href="#", title="").user-questions__item Как и чем можно поднять уровень пола на небольшую высоту?    
		a(href="#", title="").user-questions__item Как крепить брус под укладку половой доски к металлической профильной трубе?
		a(href="#", title="").user-questions__item Как исправить дефект монтажа на бетонное основание плитки ПВХ?     
		a(href="#", title="").user-questions__item Как исправить дефект монтажа на бетонное основание плитки ПВХ?
		a(href="#", title="").user-questions__item Как правильно отремонтировать пол из шлакоситалловой плитки?
	a(href="#", title="").user-questions__button Задать вопрос бесплатно