include ../head/head
include ../header/header
include ../top-menu/top-menu
include ../search/search
include ../main-content/main-content
include ../popular-articles/popular-articles
include ../last-articles/last-articles
include ../seo-text/seo-text
include ../sidebar/sidebar
include ../questions/questions
include ../last-questions/last-questions
include ../banner-sidebar/banner-sidebar
include ../social-widget/social-widget
include ../footer/footer