include ../head/head
include ../header/header
include ../top-menu/top-menu
include ../search/search
include ../popular-articles/popular-articles
include ../last-articles/last-articles
include ../seo-text/seo-text
include ../sidebar/sidebar
include ../questions/questions
include ../last-questions/last-questions
include ../calculator-list/calculator-list
include ../banner-sidebar/banner-sidebar
include ../social-widget/social-widget
include ../breadcrumbs/breadcrumbs
include ../pagination/pagination
include ../similar-articles/similar-articles
include ../social/social
include ../comments/comments
include ../specialist-list/specialist-list
include ../footer/footer

include ../main-content/main-content
include ../category-content/category-content
include ../single-content/single-content
include ../p404-content/p404-content
include ../ask-content/ask-content
include ../question-list-content/question-list-content
include ../question-content/question-content
include ../about-content/about-content
include ../feedback-content/feedback-content
include ../sitemap-content/sitemap-content