.search {
	width: 800px;

	box-shadow: 2px 2px 1px #573c3f;
	@media screen and (max-width: 1024px) {
		width: 680px;
	}
	@media screen and (max-width: 960px) {
		width: auto;

		box-shadow: none;

		order: 3;
	}
	&__mobile {
		position: relative;

		display: none;

		width: 48px;
		height: 48px;

		opacity: .8;
		border-left: 1px solid rgba(255,255,255, .3);

		@extend .icon;
		@extend .icon-search-mobile;
		@include transition;
		&:before {
			position: absolute;
			top: 10px;
			left: 12px;

			color: #fff;

			font-size: 24px;
		}
		&.active {
			background: linear-gradient(to bottom, $brown - #222, $brown);
			&:before {
				top: 14px;
				left: 14px;

				font-size: 19px;

				@extend .icon-close;
			}
		}
		@media screen and (max-width: 960px) {
			display: block;
		}
	}
	&__form {
		@media screen and (max-width: 960px) {
			position: absolute;
			z-index: 99;
			top: 48px;
			left: 0;

			visibility: hidden;

			width: 100%;

			opacity: 0;
			border-bottom: 3px solid $brown;

			@include transition;
			&.active {
				right: 0;

				visibility: visible;

				opacity: 1;
			}
		}
	}
}
#ya-site-form0 .ya-site-form__submit {
	display: block;

	width: auto;
	margin: 0 0 0 5px;
	padding: 5px 15px;

	border: 0;
	background: linear-gradient(#fae569, $yellow);
	text-shadow: 0 1px 0 #fae569 + #111;
	&:hover {
		// box-shadow: 0 0 1px $brown;
	}
}
#ya-site-form0 .ya-site-form__form .ya-site-form__input-text {
	padding-left: 10px;

	font-style: normal !important;
}
