mixin questions()
	.questions
		.questions__title Консультация специалиста
		.questions__text Не нашли нужной информации? 
			br
			| Задайте вопрос специалисту совершенно бесплатно прямо сейчас! 
		a(href="/ask.html" title="").questions__btn Задать вопрос