mixin questions()
	.questions
		.questions__title Консультация специалиста
		.questions__text Не нашли полезной информации? 
			br
			| Задайте вопрос специалисту совершенно бесплатно прямо сейчас! 
		a(href="#" title="").questions__btn Задать вопрос