.single-content {
	@extend .left-side;
	h1 {
		margin: 10px 0;
	}
	article {
		@extend .seo-text;
	}
}

.article-contents {
	&__title {
		margin-bottom: 15px;

		color: $brown;

		font-family: "PTSans-Bold";
		font-size: em(21px);
	}
	&__item {
		position: relative;

		margin-bottom: 10px;
		margin-left: 15px;
		padding-left: 15px;
		padding-left: 22px;

		@extend .icon;
		@extend .icon-question-link;
		&:before {
			position: absolute;
			top: 6px;
			left: 0;

			color: #e9e1da;
			background-color: #615850;

			font-size: 12px;
		}
		a {
			font-size: em(18px);

			@extend .link;
		}
	}
}
