mixin single-content()
	.single-content
		+breadcrumbs('page')
		article
			h1 Штукатурка стен своими руками — традиция, оправданная практичностью

			+calculator-plaster()

			p Разнообразию новаторских отделочных материалов сложно соперничать с древними способами, проверенными успешной многовековой практикой. Сколько бы не появлялось скоростных, облегченных, прогрессивных технологий отделки, лидером рейтингов по-прежнему остается штукатурка. Несмотря на трудоемкость, пыль, строительную грязь, долгосрочность процесса, мы, как наши далекие предки, штукатурим стены своими руками. Нас не пугает степень сложности работы, ведь важен окончательный результат и длинный перечень приоритетов, характерных для практичной износостойкой штукатурки.
			
			.article-contents
				.article-contents__title Содержание 
				.article-contents__list
					.article-contents__item
						a(href="#" title="") Неоспоримые достоинства штукатурки 
					.article-contents__item
						a(href="#" title="") Перечень отрицательных аспектов 
					.article-contents__item
						a(href="#" title="") Мокрый способ: технология нанесения 
					.article-contents__item
						a(href="#" title="") Составы для штукатурки стен 
					.article-contents__item
						a(href="#" title="") Штукатурим стены цементным раствором 
					.article-contents__item
						a(href="#" title="") Как штукатурить стены гипсовым раствором 
					.article-contents__item
						a(href="#" title="") Внутренняя отделка по маякам

			p Штукатурка предоставляет возможность воплотить практически любые дизайнерские проекты. Это лучший вариант для устранения огрехов строителей, для выравнивания стен и создания лепных узоров вручную. Ее применяют для формирования разнообразной фактуры, цвета и структуры поверхности. 
			blockquote.info
				p Совет! Если есть трещины, надо их отбить и расширить, а поверх них набить строительную сетку.
			
			blockquote.attention
				p Нежелательно увеличивать долю основного связующего компонента, из-за нарушения пропорций может сократиться период отвердевания. Тогда исполнителю будет сложно своевременно разровнять и тщательно разгладить поверхность.
			
			p Мастера отделки владеют рядом специфических технологий нанесения штукатурной смеси на стены, благодаря чему демократичный материал превращается в рваный натуральный камень, пиленую горную породу или в обычную кладку. По степени выразительности венецианская и терразитовая штукатурка может составить конкуренцию фотообоям и отделке с 3D структурой. А от количества колоритных вариантов и сочетания различных методов нанесения у птицы-фантазии декораторов вырастают километровые крылья.

			figure
				img(src="%=staticPrefix=%images/content/antikdecorbrown-400x300.jpg" alt="Картинка есть же")
				figcaption Штукатурке подвластны даже 3D эффекты

			p Выбор штукатурных смесей в качестве отделочного материала аргументирован превосходством их эксплуатационных, технических и эстетических качеств, точнее высотой совокупности всего набора показателей.

			p В списке приоритетов нанесения штукатурки значатся: 

				ul
					li водоотталкивающие качества материала, способность высыхать после аварийного намокания без потери декоративных показателей; 
					li оптимизация изоляционных характеристик строения; 
					li аэропроницаемость, то есть способность пропускать излишки бытовых испарений, предотвращая преждевременной старение и износ стройматериалов, за счет чего также устанавливается благоприятный для проживания влажностной баланс в помещениях; 
					li соответствие санитарно-гигиеническим и экологическим нормативам; 
					li возможность изменить впоследствии фактурную и колоритную концепцию отделки; 
					li негорючесть, на основании которой штукатурку предпочитают для облицовки фасадов и выполнения интерьерной отделки деревянных построек; 
					li доступная стоимость ремонта, особенно ощутимая, если выполняется штукатурка стен своими руками и применяются наиболее демократичные в ценовом отношении составы.

			| <iframe width="560" height="315" src="https://www.youtube.com/embed/gaNcLQEGL0Y" frameborder="0" allowfullscreen></iframe>

			p Несмотря на убедительный список аргументов в пользу нанесения штукатурки на стены, у данного материала есть ряд существенных недостатков. 
			
				ol
					li при нарушении технологии нанесения штукатурной смеси и несоблюдении сроков, необходимых для затвердевания, могут появиться трещины и другие дефекты; 
					li фасадная отделка может выполняться только при плюсовой температуре; 
					li для нанесения на стены с гладкой или глянцевой поверхностью потребуется предварительная подготовка, слой грунтовки, монтаж сетки-рабицы, специальные насечки; 
					li низкая продуктивность трудоемкой работы; 
					li строительные ограничения по мощности слоя штукатурки.

			p К недостаткам штукатурки также можно отнести излишне сложный процесс отделки деревянных домов, необходимость проведения сложной подготовки. Отрицательной сторон признают способность фактурной штукатурки «впитывать» пыль, копящуюся в рельефных выемках. Этот минус характерен и для материала, в состав которого входили крупные песчаные частицы. Правда, оштукатуренную поверхность можно мыть практически всеми существующими сейчас средствами бытовой химии. Для устранения необходимости в частом уходе лучше покрыть специальным лаком, натуральным или синтетическим воском.	
			
			table(border='0', cellspacing='0', cellpadding='0', style='width: 100%;')
				thead
					tr
						th Производитель
						th Марка
						th Расчетная толщина слоя, мм
						th Расход, кг/м²
						th Фасовка, кг
				tbody
					tr
						td(rowspan='12' style="background: #f4f4f4; vertical-align: top; text-align: left;") 
							a(href="http://www.unistrom.ru/" rel="nofollow" title="Сайт производителя" target="_blank") Unis
						td Теплон Белый
						td 5
						td 4-4,5
						td 30 / 15
					tr
						td Теплон Серый
						td 10
						td 8,5-9
						td 30
					tr
						td Теплон Влагостойкий
						td 5
						td 6-6,5
						td 25
					tr
						td Теплон МН
						td 5
						td 4,0-4,5
						td 30
					tr
						td Стандарт Белый
						td 5
						td 6,5-7,5
						td 30
					tr
						td Стандарт Серый
						td 5
						td 6,5-7,5
						td 30
					tr
						td Силин Фасадный
						td 5
						td 6-8
						td 25
					tr
						td Силин Цокольный
						td 2
						td 3,5-4,5
						td 25
					tr
						td Силин для внутренних работ
						td 5
						td 6-8
						td 25
					tr
						td Шуба декор
						td 2
						td 3,5-4,5
						td 25
					tr
						td Короед декор
						td 2
						td 3,5-4,5
						td 25
					tr
						td Короед декор
						td 2
						td 5-6,5
						td 25
					tr
						td(rowspan='11' style="background: #f4f4f4; vertical-align: top; text-align: left;") 
							a(href="http://www.starateli.ru/" rel="nofollow" title="Сайт производителя" target="_blank") Старатели
						td Mixter
						td 10
						td 10-11
						td 30
					tr
						td Гипсовая
						td 10
						td 8-9
						td 15 / 30
					tr
						td Оптимум
						td 10
						td 10-11
						td 30
					tr
						td Гипсовая Белая
						td 10
						td 8-9
						td 30
					tr
						td Цементно-Песчаная Универсальная
						td 10
						td 11-12
						td 30
					tr
						td Гипсовая Машинного Нанесения
						td 10
						td 8-9
						td 30
					tr
						td Цементно-Песчаная
						td 10
						td 12,5-13,5
						td 25
					tr
						td Штукатурный обрызг
						td 5
						td 5-6
						td 25
					tr
						td Короед
						td 1,5-2
						td 2-2,5
						td 25
					tr
						td Короед 3мм
						td 3
						td 3,5-4
						td 25
					tr
						td Шуба
						td 3
						td 4-4,5
						td 25
					tr
						td(rowspan='10' style="background: #f4f4f4; vertical-align: top; text-align: left;") 
							a(href="http://www.osnovit.ru/" rel="nofollow" title="Сайт производителя" target="_blank") Основит
						td ПРОВЭЛЛ Т-20 ШТУКАТУРНЫЙ ОБРЫЗГ
						td 1
						td 1,6
						td 25
					tr
						td СТАРТВЭЛЛ PC21 M
						td 10
						td 13
						td 25
					tr
						td СТАРТВЭЛЛ PC21
						td 10
						td 16-17
						td 25
					tr
						td БИГВЭЛЛ Т-22
						td 10
						td 18
						td 25
					tr
						td СЛИМВЭЛЛ PC23
						td 10
						td 17
						td 25
					tr
						td ФЛАЙВЭЛЛ PC24/1 ML
						td 10
						td 10-11
						td 25
					tr
						td ГИПСВЭЛЛ PG25
						td 10
						td 9
						td 30
					tr
						td ГИПСВЭЛЛ PG25 W
						td 10
						td 9
						td 30
					tr
						td ГИПСВЭЛЛ PG26 MW
						td 10
						td 9
						td 30
					tr
						td ГИПСВЭЛЛ PG26 M
						td 10
						td 9
						td 30
					tr
						td(rowspan='10' style="background: #f4f4f4; vertical-align: top; text-align: left;") 
							a(href="http://www.volma.ru/" rel="nofollow" title="Сайт производителя" target="_blank") Волма
						td Аквалюкс
						td 10
						td 15-17
						td 25
					tr
						td Люкс
						td 10
						td 6-7
						td 25
					tr
						td Холст
						td 10
						td 9-10
						td 30
					tr
						td Слой
						td 10
						td 8-9
						td 30
					tr
						td Гипс Актив
						td 10
						td 8-9
						td 30
					tr
						td Пласт
						td 10
						td 10
						td 30
					tr
						td Цемент Актив
						td 10
						td 11-12
						td 25
					tr
						td Акваслой
						td 10
						td 11-12
						td 25
					tr
						td Аквапласт
						td 10
						td 16-18
						td 25
					tr
						td Цоколь
						td 10
						td 14-15
						td 25
					tr
						td(rowspan='9' style="background: #f4f4f4; vertical-align: top; text-align: left;") 
							a(href="http://www.knauf.ru/" rel="nofollow" title="Сайт производителя" target="_blank") knauf
						td Ротбанд
						td 10
						td 8,5
						td 30 / 25 / 10 / 5
					tr
						td Гольдбанд
						td 10
						td 8,5
						td 30
					tr
						td МП 75
						td 10
						td 8-9
						td 30
					tr
						td МН Старт
						td 10
						td 10
						td 30
					tr
						td ХП Старт
						td 10
						td 10
						td 25
					tr
						td Грюнбанд
						td 10
						td 12
						td 25
					tr
						td Унтерпутц
						td 10
						td 17
						td 25
					tr
						td Зокельпутц
						td 10
						td 17
						td 25
					tr
						td Адгезив
						td 5
						td 5
						td 25
					tr
						td(rowspan='11' style="background: #f4f4f4; vertical-align: top; text-align: left;") 
							a(href="http://www.bergauf.ru/" rel="nofollow" title="Сайт производителя" target="_blank") Bergauf
						td BAU PUTZ GIPS
						td 10
						td 11-13
						td 30
					tr
						td BAU PUTZ ZEMENT
						td 10
						td 16-18
						td 25
					tr
						td BAU INTERIER
						td 10
						td 12-13
						td 25
					tr
						td PRIMA PUTZ GIPS
						td 10
						td 9-12
						td 30
					tr
						td PRIMA INTERIER
						td 10
						td 12-13
						td 25
					tr
						td PRIMA FACADE
						td 10
						td 13-15
						td 25
					tr
						td EASY PLASTER
						td 10
						td 12-13
						td 25 / 5
					tr
						td BAU BLOCK
						td 10
						td 15-17
						td 25
					tr
						td EASY BAND
						td 10
						td 9
						td 30
					tr
						td BAU TERMO
						td 10
						td 16-18
						td 25
					tr
						td UNTER BAU
						td 10
						td 15
						td 30

		+social()

		+similar-articles()

		+comments()