mixin single-content()
	section.single-content
		+breadcrumbs('page')
		article
			h1 Штукатурка стен своими руками — традиция, оправданная практичностью

			p Разнообразию новаторских отделочных материалов сложно соперничать с древними способами, проверенными успешной многовековой практикой. Сколько бы не появлялось скоростных, облегченных, прогрессивных технологий отделки, лидером рейтингов по-прежнему остается штукатурка. Несмотря на трудоемкость, пыль, строительную грязь, долгосрочность процесса, мы, как наши далекие предки, штукатурим стены своими руками. Нас не пугает степень сложности работы, ведь важен окончательный результат и длинный перечень приоритетов, характерных для практичной износостойкой штукатурки.
			
			.article-contents
				.article-contents__title Содержание 
				.article-contents__list
					.article-contents__item
						a(href="#" title="") Неоспоримые достоинства штукатурки 
					.article-contents__item
						a(href="#" title="") Перечень отрицательных аспектов 
					.article-contents__item
						a(href="#" title="") Мокрый способ: технология нанесения 
					.article-contents__item
						a(href="#" title="") Составы для штукатурки стен 
					.article-contents__item
						a(href="#" title="") Штукатурим стены цементным раствором 
					.article-contents__item
						a(href="#" title="") Как штукатурить стены гипсовым раствором 
					.article-contents__item
						a(href="#" title="") Внутренняя отделка по маякам

			p Штукатурка предоставляет возможность воплотить практически любые дизайнерские проекты. Это лучший вариант для устранения огрехов строителей, для выравнивания стен и создания лепных узоров вручную. Ее применяют для формирования разнообразной фактуры, цвета и структуры поверхности. 

			blockquote
				p Нежелательно увеличивать долю основного связующего компонента, из-за нарушения пропорций может сократиться период отвердевания. Тогда исполнителю будет сложно своевременно разровнять и тщательно разгладить поверхность.
			
			p Мастера отделки владеют рядом специфических технологий нанесения штукатурной смеси на стены, благодаря чему демократичный материал превращается в рваный натуральный камень, пиленую горную породу или в обычную кладку. По степени выразительности венецианская и терразитовая штукатурка может составить конкуренцию фотообоям и отделке с 3D структурой. А от количества колоритных вариантов и сочетания различных методов нанесения у птицы-фантазии декораторов вырастают километровые крылья.

			figure
				img(src="%=staticPrefix=%images/content/antikdecorbrown-400x300.jpg" alt="Картинка есть же")
				figcaption Штукатурке подвластны даже 3D эффекты

			p Выбор штукатурных смесей в качестве отделочного материала аргументирован превосходством их эксплуатационных, технических и эстетических качеств, точнее высотой совокупности всего набора показателей.

			p В списке приоритетов нанесения штукатурки значатся: 

				ul
					li водоотталкивающие качества материала, способность высыхать после аварийного намокания без потери декоративных показателей; 
					li оптимизация изоляционных характеристик строения; 
					li аэропроницаемость, то есть способность пропускать излишки бытовых испарений, предотвращая преждевременной старение и износ стройматериалов, за счет чего также устанавливается благоприятный для проживания влажностной баланс в помещениях; 
					li соответствие санитарно-гигиеническим и экологическим нормативам; 
					li возможность изменить впоследствии фактурную и колоритную концепцию отделки; 
					li негорючесть, на основании которой штукатурку предпочитают для облицовки фасадов и выполнения интерьерной отделки деревянных построек; 
					li доступная стоимость ремонта, особенно ощутимая, если выполняется штукатурка стен своими руками и применяются наиболее демократичные в ценовом отношении составы.

			| <iframe width="560" height="315" src="https://www.youtube.com/embed/gaNcLQEGL0Y" frameborder="0" allowfullscreen></iframe>

			p Несмотря на убедительный список аргументов в пользу нанесения штукатурки на стены, у данного материала есть ряд существенных недостатков. 
			
				ol
					li при нарушении технологии нанесения штукатурной смеси и несоблюдении сроков, необходимых для затвердевания, могут появиться трещины и другие дефекты; 
					li фасадная отделка может выполняться только при плюсовой температуре; 
					li для нанесения на стены с гладкой или глянцевой поверхностью потребуется предварительная подготовка, слой грунтовки, монтаж сетки-рабицы, специальные насечки; 
					li низкая продуктивность трудоемкой работы; 
					li строительные ограничения по мощности слоя штукатурки.

			p К недостаткам штукатурки также можно отнести излишне сложный процесс отделки деревянных домов, необходимость проведения сложной подготовки. Отрицательной сторон признают способность фактурной штукатурки «впитывать» пыль, копящуюся в рельефных выемках. Этот минус характерен и для материала, в состав которого входили крупные песчаные частицы. Правда, оштукатуренную поверхность можно мыть практически всеми существующими сейчас средствами бытовой химии. Для устранения необходимости в частом уходе лучше покрыть специальным лаком, натуральным или синтетическим воском.	

		+social()

		+similar-articles()

		+comments()