mixin last-articles()
	section.last-articles
		- for (var i = 0; i < 6; i++) {
		.last-articles-item
			.last-articles-item__img
				img(src="//www.placehold.it/106x106/EFEFEF/AAAAAA")
			.last-articles-item__content
				a(href="/single.html" title="").last-articles-item__link Летние инфекции: как себя уберечь? 
				p.last-articles-item__text Под рефракционной хирургией понимают офтальмологические операции, в результате которых у пациента изменяется вся сила преломления света глаза, чтобы, благодаря этому
				.last-articles-item__category Выбор инструментов
				.last-articles-item__date 24.08.15
		- }