/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-article-nav-name: 's-article-nav';
$s-article-nav-x: 0px;
$s-article-nav-y: 114px;
$s-article-nav-offset-x: 0px;
$s-article-nav-offset-y: -114px;
$s-article-nav-width: 16px;
$s-article-nav-height: 16px;
$s-article-nav-total-width: 320px;
$s-article-nav-total-height: 169px;
$s-article-nav-image: 'sprite.png';
$s-article-nav: 0px 114px 0px -114px 16px 16px 320px 169px 'sprite.png' 's-article-nav';
$s-asc-name: 's-asc';
$s-asc-x: 202px;
$s-asc-y: 100px;
$s-asc-offset-x: -202px;
$s-asc-offset-y: -100px;
$s-asc-width: 6px;
$s-asc-height: 3px;
$s-asc-total-width: 320px;
$s-asc-total-height: 169px;
$s-asc-image: 'sprite.png';
$s-asc: 202px 100px -202px -100px 6px 3px 320px 169px 'sprite.png' 's-asc';
$s-breadcrumbs-arrow-name: 's-breadcrumbs-arrow';
$s-breadcrumbs-arrow-x: 188px;
$s-breadcrumbs-arrow-y: 100px;
$s-breadcrumbs-arrow-offset-x: -188px;
$s-breadcrumbs-arrow-offset-y: -100px;
$s-breadcrumbs-arrow-width: 9px;
$s-breadcrumbs-arrow-height: 3px;
$s-breadcrumbs-arrow-total-width: 320px;
$s-breadcrumbs-arrow-total-height: 169px;
$s-breadcrumbs-arrow-image: 'sprite.png';
$s-breadcrumbs-arrow: 188px 100px -188px -100px 9px 3px 320px 169px 'sprite.png' 's-breadcrumbs-arrow';
$s-breadcrumbs-home-name: 's-breadcrumbs-home';
$s-breadcrumbs-home-x: 48px;
$s-breadcrumbs-home-y: 114px;
$s-breadcrumbs-home-offset-x: -48px;
$s-breadcrumbs-home-offset-y: -114px;
$s-breadcrumbs-home-width: 12px;
$s-breadcrumbs-home-height: 11px;
$s-breadcrumbs-home-total-width: 320px;
$s-breadcrumbs-home-total-height: 169px;
$s-breadcrumbs-home-image: 'sprite.png';
$s-breadcrumbs-home: 48px 114px -48px -114px 12px 11px 320px 169px 'sprite.png' 's-breadcrumbs-home';
$s-calculator-name: 's-calculator';
$s-calculator-x: 162px;
$s-calculator-y: 77px;
$s-calculator-offset-x: -162px;
$s-calculator-offset-y: -77px;
$s-calculator-width: 21px;
$s-calculator-height: 26px;
$s-calculator-total-width: 320px;
$s-calculator-total-height: 169px;
$s-calculator-image: 'sprite.png';
$s-calculator: 162px 77px -162px -77px 21px 26px 320px 169px 'sprite.png' 's-calculator';
$s-category-icon-name: 's-category-icon';
$s-category-icon-x: 100px;
$s-category-icon-y: 114px;
$s-category-icon-offset-x: -100px;
$s-category-icon-offset-y: -114px;
$s-category-icon-width: 12px;
$s-category-icon-height: 4px;
$s-category-icon-total-width: 320px;
$s-category-icon-total-height: 169px;
$s-category-icon-image: 'sprite.png';
$s-category-icon: 100px 114px -100px -114px 12px 4px 320px 169px 'sprite.png' 's-category-icon';
$s-comments-big-name: 's-comments-big';
$s-comments-big-x: 278px;
$s-comments-big-y: 77px;
$s-comments-big-offset-x: -278px;
$s-comments-big-offset-y: -77px;
$s-comments-big-width: 16px;
$s-comments-big-height: 16px;
$s-comments-big-total-width: 320px;
$s-comments-big-total-height: 169px;
$s-comments-big-image: 'sprite.png';
$s-comments-big: 278px 77px -278px -77px 16px 16px 320px 169px 'sprite.png' 's-comments-big';
$s-comments-name: 's-comments';
$s-comments-x: 65px;
$s-comments-y: 114px;
$s-comments-offset-x: -65px;
$s-comments-offset-y: -114px;
$s-comments-width: 11px;
$s-comments-height: 11px;
$s-comments-total-width: 320px;
$s-comments-total-height: 169px;
$s-comments-image: 'sprite.png';
$s-comments: 65px 114px -65px -114px 11px 11px 320px 169px 'sprite.png' 's-comments';
$s-date-name: 's-date';
$s-date-x: 20px;
$s-date-y: 135px;
$s-date-offset-x: -20px;
$s-date-offset-y: -135px;
$s-date-width: 14px;
$s-date-height: 14px;
$s-date-total-width: 320px;
$s-date-total-height: 169px;
$s-date-image: 'sprite.png';
$s-date: 20px 135px -20px -135px 14px 14px 320px 169px 'sprite.png' 's-date';
$s-desc-name: 's-desc';
$s-desc-x: 213px;
$s-desc-y: 100px;
$s-desc-offset-x: -213px;
$s-desc-offset-y: -100px;
$s-desc-width: 6px;
$s-desc-height: 3px;
$s-desc-total-width: 320px;
$s-desc-total-height: 169px;
$s-desc-image: 'sprite.png';
$s-desc: 213px 100px -213px -100px 6px 3px 320px 169px 'sprite.png' 's-desc';
$s-footer-gp-name: 's-footer-gp';
$s-footer-gp-x: 57px;
$s-footer-gp-y: 135px;
$s-footer-gp-offset-x: -57px;
$s-footer-gp-offset-y: -135px;
$s-footer-gp-width: 12px;
$s-footer-gp-height: 12px;
$s-footer-gp-total-width: 320px;
$s-footer-gp-total-height: 169px;
$s-footer-gp-image: 'sprite.png';
$s-footer-gp: 57px 135px -57px -135px 12px 12px 320px 169px 'sprite.png' 's-footer-gp';
$s-last-articles-name: 's-last-articles';
$s-last-articles-x: 0px;
$s-last-articles-y: 155px;
$s-last-articles-offset-x: 0px;
$s-last-articles-offset-y: -155px;
$s-last-articles-width: 12px;
$s-last-articles-height: 14px;
$s-last-articles-total-width: 320px;
$s-last-articles-total-height: 169px;
$s-last-articles-image: 'sprite.png';
$s-last-articles: 0px 155px 0px -155px 12px 14px 320px 169px 'sprite.png' 's-last-articles';
$s-logo-footer-name: 's-logo-footer';
$s-logo-footer-x: 111px;
$s-logo-footer-y: 77px;
$s-logo-footer-offset-x: -111px;
$s-logo-footer-offset-y: -77px;
$s-logo-footer-width: 19px;
$s-logo-footer-height: 31px;
$s-logo-footer-total-width: 320px;
$s-logo-footer-total-height: 169px;
$s-logo-footer-image: 'sprite.png';
$s-logo-footer: 111px 77px -111px -77px 19px 31px 320px 169px 'sprite.png' 's-logo-footer';
$s-logo-header-name: 's-logo-header';
$s-logo-header-x: 0px;
$s-logo-header-y: 0px;
$s-logo-header-offset-x: 0px;
$s-logo-header-offset-y: 0px;
$s-logo-header-width: 320px;
$s-logo-header-height: 72px;
$s-logo-header-total-width: 320px;
$s-logo-header-total-height: 169px;
$s-logo-header-image: 'sprite.png';
$s-logo-header: 0px 0px 0px 0px 320px 72px 320px 169px 'sprite.png' 's-logo-header';
$s-pagelink-pink-name: 's-pagelink-pink';
$s-pagelink-pink-x: 89px;
$s-pagelink-pink-y: 135px;
$s-pagelink-pink-offset-x: -89px;
$s-pagelink-pink-offset-y: -135px;
$s-pagelink-pink-width: 10px;
$s-pagelink-pink-height: 10px;
$s-pagelink-pink-total-width: 320px;
$s-pagelink-pink-total-height: 169px;
$s-pagelink-pink-image: 'sprite.png';
$s-pagelink-pink: 89px 135px -89px -135px 10px 10px 320px 169px 'sprite.png' 's-pagelink-pink';
$s-pagelink-name: 's-pagelink';
$s-pagelink-x: 74px;
$s-pagelink-y: 135px;
$s-pagelink-offset-x: -74px;
$s-pagelink-offset-y: -135px;
$s-pagelink-width: 10px;
$s-pagelink-height: 10px;
$s-pagelink-total-width: 320px;
$s-pagelink-total-height: 169px;
$s-pagelink-image: 'sprite.png';
$s-pagelink: 74px 135px -74px -135px 10px 10px 320px 169px 'sprite.png' 's-pagelink';
$s-pagination-next-name: 's-pagination-next';
$s-pagination-next-x: 130px;
$s-pagination-next-y: 135px;
$s-pagination-next-offset-x: -130px;
$s-pagination-next-offset-y: -135px;
$s-pagination-next-width: 5px;
$s-pagination-next-height: 6px;
$s-pagination-next-total-width: 320px;
$s-pagination-next-total-height: 169px;
$s-pagination-next-image: 'sprite.png';
$s-pagination-next: 130px 135px -130px -135px 5px 6px 320px 169px 'sprite.png' 's-pagination-next';
$s-pagination-prev-name: 's-pagination-prev';
$s-pagination-prev-x: 120px;
$s-pagination-prev-y: 135px;
$s-pagination-prev-offset-x: -120px;
$s-pagination-prev-offset-y: -135px;
$s-pagination-prev-width: 5px;
$s-pagination-prev-height: 6px;
$s-pagination-prev-total-width: 320px;
$s-pagination-prev-total-height: 169px;
$s-pagination-prev-image: 'sprite.png';
$s-pagination-prev: 120px 135px -120px -135px 5px 6px 320px 169px 'sprite.png' 's-pagination-prev';
$s-popular-articles-name: 's-popular-articles';
$s-popular-articles-x: 39px;
$s-popular-articles-y: 135px;
$s-popular-articles-offset-x: -39px;
$s-popular-articles-offset-y: -135px;
$s-popular-articles-width: 13px;
$s-popular-articles-height: 13px;
$s-popular-articles-total-width: 320px;
$s-popular-articles-total-height: 169px;
$s-popular-articles-image: 'sprite.png';
$s-popular-articles: 39px 135px -39px -135px 13px 13px 320px 169px 'sprite.png' 's-popular-articles';
$s-print-name: 's-print';
$s-print-x: 299px;
$s-print-y: 77px;
$s-print-offset-x: -299px;
$s-print-offset-y: -77px;
$s-print-width: 16px;
$s-print-height: 16px;
$s-print-total-width: 320px;
$s-print-total-height: 169px;
$s-print-image: 'sprite.png';
$s-print: 299px 77px -299px -77px 16px 16px 320px 169px 'sprite.png' 's-print';
$s-search-icon-name: 's-search-icon';
$s-search-icon-x: 257px;
$s-search-icon-y: 77px;
$s-search-icon-offset-x: -257px;
$s-search-icon-offset-y: -77px;
$s-search-icon-width: 16px;
$s-search-icon-height: 16px;
$s-search-icon-total-width: 320px;
$s-search-icon-total-height: 169px;
$s-search-icon-image: 'sprite.png';
$s-search-icon: 257px 77px -257px -77px 16px 16px 320px 169px 'sprite.png' 's-search-icon';
$s-similar-article-name: 's-similar-article';
$s-similar-article-x: 21px;
$s-similar-article-y: 114px;
$s-similar-article-offset-x: -21px;
$s-similar-article-offset-y: -114px;
$s-similar-article-width: 22px;
$s-similar-article-height: 11px;
$s-similar-article-total-width: 320px;
$s-similar-article-total-height: 169px;
$s-similar-article-image: 'sprite.png';
$s-similar-article: 21px 114px -21px -114px 22px 11px 320px 169px 'sprite.png' 's-similar-article';
$s-sitemap-name: 's-sitemap';
$s-sitemap-x: 104px;
$s-sitemap-y: 135px;
$s-sitemap-offset-x: -104px;
$s-sitemap-offset-y: -135px;
$s-sitemap-width: 11px;
$s-sitemap-height: 9px;
$s-sitemap-total-width: 320px;
$s-sitemap-total-height: 169px;
$s-sitemap-image: 'sprite.png';
$s-sitemap: 104px 135px -104px -135px 11px 9px 320px 169px 'sprite.png' 's-sitemap';
$s-social-fb-name: 's-social-fb';
$s-social-fb-x: 0px;
$s-social-fb-y: 77px;
$s-social-fb-offset-x: 0px;
$s-social-fb-offset-y: -77px;
$s-social-fb-width: 32px;
$s-social-fb-height: 32px;
$s-social-fb-total-width: 320px;
$s-social-fb-total-height: 169px;
$s-social-fb-image: 'sprite.png';
$s-social-fb: 0px 77px 0px -77px 32px 32px 320px 169px 'sprite.png' 's-social-fb';
$s-social-gp-name: 's-social-gp';
$s-social-gp-x: 37px;
$s-social-gp-y: 77px;
$s-social-gp-offset-x: -37px;
$s-social-gp-offset-y: -77px;
$s-social-gp-width: 32px;
$s-social-gp-height: 32px;
$s-social-gp-total-width: 320px;
$s-social-gp-total-height: 169px;
$s-social-gp-image: 'sprite.png';
$s-social-gp: 37px 77px -37px -77px 32px 32px 320px 169px 'sprite.png' 's-social-gp';
$s-social-vk-name: 's-social-vk';
$s-social-vk-x: 74px;
$s-social-vk-y: 77px;
$s-social-vk-offset-x: -74px;
$s-social-vk-offset-y: -77px;
$s-social-vk-width: 32px;
$s-social-vk-height: 32px;
$s-social-vk-total-width: 320px;
$s-social-vk-total-height: 169px;
$s-social-vk-image: 'sprite.png';
$s-social-vk: 74px 77px -74px -77px 32px 32px 320px 169px 'sprite.png' 's-social-vk';
$s-star-rating--empty-name: 's-star-rating--empty';
$s-star-rating--empty-x: 234px;
$s-star-rating--empty-y: 77px;
$s-star-rating--empty-offset-x: -234px;
$s-star-rating--empty-offset-y: -77px;
$s-star-rating--empty-width: 18px;
$s-star-rating--empty-height: 18px;
$s-star-rating--empty-total-width: 320px;
$s-star-rating--empty-total-height: 169px;
$s-star-rating--empty-image: 'sprite.png';
$s-star-rating--empty: 234px 77px -234px -77px 18px 18px 320px 169px 'sprite.png' 's-star-rating--empty';
$s-star-rating--full-name: 's-star-rating--full';
$s-star-rating--full-x: 188px;
$s-star-rating--full-y: 77px;
$s-star-rating--full-offset-x: -188px;
$s-star-rating--full-offset-y: -77px;
$s-star-rating--full-width: 18px;
$s-star-rating--full-height: 18px;
$s-star-rating--full-total-width: 320px;
$s-star-rating--full-total-height: 169px;
$s-star-rating--full-image: 'sprite.png';
$s-star-rating--full: 188px 77px -188px -77px 18px 18px 320px 169px 'sprite.png' 's-star-rating--full';
$s-star-rating--half-name: 's-star-rating--half';
$s-star-rating--half-x: 211px;
$s-star-rating--half-y: 77px;
$s-star-rating--half-offset-x: -211px;
$s-star-rating--half-offset-y: -77px;
$s-star-rating--half-width: 18px;
$s-star-rating--half-height: 18px;
$s-star-rating--half-total-width: 320px;
$s-star-rating--half-total-height: 169px;
$s-star-rating--half-image: 'sprite.png';
$s-star-rating--half: 211px 77px -211px -77px 18px 18px 320px 169px 'sprite.png' 's-star-rating--half';
$s-ul-li-name: 's-ul-li';
$s-ul-li-x: 0px;
$s-ul-li-y: 135px;
$s-ul-li-offset-x: 0px;
$s-ul-li-offset-y: -135px;
$s-ul-li-width: 15px;
$s-ul-li-height: 15px;
$s-ul-li-total-width: 320px;
$s-ul-li-total-height: 169px;
$s-ul-li-image: 'sprite.png';
$s-ul-li: 0px 135px 0px -135px 15px 15px 320px 169px 'sprite.png' 's-ul-li';
$s-user-questions-name: 's-user-questions';
$s-user-questions-x: 135px;
$s-user-questions-y: 77px;
$s-user-questions-offset-x: -135px;
$s-user-questions-offset-y: -77px;
$s-user-questions-width: 22px;
$s-user-questions-height: 26px;
$s-user-questions-total-width: 320px;
$s-user-questions-total-height: 169px;
$s-user-questions-image: 'sprite.png';
$s-user-questions: 135px 77px -135px -77px 22px 26px 320px 169px 'sprite.png' 's-user-questions';
$s-views-name: 's-views';
$s-views-x: 81px;
$s-views-y: 114px;
$s-views-offset-x: -81px;
$s-views-offset-y: -114px;
$s-views-width: 14px;
$s-views-height: 8px;
$s-views-total-width: 320px;
$s-views-total-height: 169px;
$s-views-image: 'sprite.png';
$s-views: 81px 114px -81px -114px 14px 8px 320px 169px 'sprite.png' 's-views';
$spritesheet-width: 320px;
$spritesheet-height: 169px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: $s-article-nav $s-asc $s-breadcrumbs-arrow $s-breadcrumbs-home $s-calculator $s-category-icon $s-comments-big $s-comments $s-date $s-desc $s-footer-gp $s-last-articles $s-logo-footer $s-logo-header $s-pagelink-pink $s-pagelink $s-pagination-next $s-pagination-prev $s-popular-articles $s-print $s-search-icon $s-similar-article $s-sitemap $s-social-fb $s-social-gp $s-social-vk $s-star-rating--empty $s-star-rating--full $s-star-rating--half $s-ul-li $s-user-questions $s-views;
$spritesheet: 320px 169px 'sprite.png' $spritesheet-sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
