mixin p404-content()
	.p404-content
		.p404-content__error
			.p404-content__404 Ошибка 404
			h1 Извините! Страница, которую вы запросили, не находится в нашей базе данных.
			h2 Скорее всего вы попали на битую ссылку или опечатались при вводе URL.
			
			a(href="#" title="").p404-content__btn Вернуться на главную
		h2 Возможно вам будет интересно:
		+popular-articles()