mixin p404-content()
	section.p404-content
		+breadcrumbs('page')
		h1 Страница не найдена
		p Причины, которые могли к этому привести:
		ul
			li вы ошиблись, когда набирали адрес; 
			li вы воспользовались неправильной ссылкой; 
			li такой страницы уже не существует на сервере, или ее адрес был изменен.
		p Чтобы найти нужную вам публикацию, начните просмотр с 
			a(href="#" title="") первой страницы
			| , или воспользуйтесь поиском по сайту.
		h2 Возможно вам будет интересно:
		+popular-articles()