.header {
	box-sizing: border-box;
	height: 150px;
	padding-top: 30px;

	background: url(%=staticPrefixForCss=%general/header-bg.jpg) repeat-x;
	&__wrapper {
		display: flex;

		align-items: center;
		@extend .wrapper;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__logo {
		display: block;

		@include bg($logo-header-desktop);
	}
}
