.header {
	box-sizing: border-box;
	height: 150px;
	padding-top: 30px;

	background: url(%=staticPrefixForCss=%general/header-bg.jpg) repeat-x;
	@media screen and (max-width: 960px) {
		height: auto;
		padding-top: 0;

		background: linear-gradient(to bottom, $brown, $brown - #222);
	}
	&__wrapper {
		display: flex;

		align-items: center;
		@extend .wrapper;
		flex-wrap: wrap;
		justify-content: space-between;
		@media screen and (max-width: 960px) {
			flex-wrap: nowrap;
		}
	}
	&__logo {
		display: block;

		@include bg($logo-header-desktop);
		@media screen and (max-width: 960px) {
			opacity: .8;

			@include bg($logo-header-mobile);
			order: 2;
		}
	}
}
